[2021-07-16 23:34] j-dfq opened #124 "[CONTRACTS] - Integrate or Create Keepers/Oracle Service to Replace Static blockCountInAWeek Estimate for Bonding Durations"
Currently, bonding deposit times are being estimated using a static value:
`uint256 public blockCountInAWeek = 45361;`
See: https://github.com/ubiquity/uad-contracts/blob/main/contracts/Bonding.sol#L27

While unlikely, the value associated with the number of blocks verified over the period of one week can be subject to sudden change, and will at the least entail some small degree of drift over tim

[2021-07-22 04:02] j-dfq opened #123 "[CONTRACTS] - Implement Debt Cycle Timeout Condition"
Ubiquity's algorithmic dollar is not epoch-based, but is built around arbitrarily long or short debt cycles which adaptively modify the stabilization algorithms at play. Currently, the length of debt cycles depends on the TWAP crossing $1, whether decreasing or increasing in price. Because of this, the debt cycle can - in theory - never actually complete, or continue for an arbitrarily long enough

[2021-07-26 17:16] zgorizzo69 opened #156 "TODO before deployment of Bonding V2 - collect a list of all Bonding V1 users' deposits"

[2021-07-26 17:39] zgorizzo69 opened #122 "[CONTRACTS] - TODO before deployment of Bonding V2 in front end user interface"
* get BondingShare V2
get IDs based on address (one address can have several bonding share ID
[code]

- you can check how many ExtraLPrewards you are entitled to

[code]
you can't withdraw it is automatically distributed when you add or remove liquidity
NB: These functions only works when the current block number is > bond. endBlock

- to deposit the first time you call the deposit function

[code

[2021-07-30 13:41] #156 closed

[2021-08-10 21:05] pavlovcik opened #1 "Bug Bounty Advertisement"
10% VAR reward should be advertised on the UI in order to incentivize..."controlled demolition" vs getting totally wiped out in case of an exploit.

![126864175-d4321004-f51b-47af-ba06-90e852475cb3](https://user-images.githubusercontent.com/4975670/128934959-6cb742c7-dd58-481d-ac28-daf07d4e5502.jpeg)

https://twitter.com/iamnomad/status/1418342329115680771?s=21

We should also link https://dao.ubq

[2021-08-11 15:29] pavlovcik opened #4 "APY Calculation"
I think we should use our [uAD-UBQ Sushiswap market](https://etherscan.io/address/0x41e087485f47538752a1195d984109cb8dc0e429) as the oracle to calculate UBQ rewards APY.

[2021-08-13 23:58] pavlovcik opened #154 "Research: Minting Zealousness"

[2021-08-15 00:53] pavlovcik opened #121 "[CONTRACTS] - Security Hygiene"

[2021-09-05 00:00] pavlovcik opened #6 "See Current Lockup Time"
Also: since I have LP locked in bonding shares, should I see my shares on the right side? It says "~0 bonding shares"

source: https://discord.com/channels/786361182357291008/804490649486360707/883727051461369896

[2021-09-05 00:34] pavlovcik opened #7 "Fix Build Process"
Right now the build process is broken and hacked together quickly. It currently is invoked using `yarn dev` and handles a bunch of steps but seems to have issues.

@Zequez consult with @zgorizzo69 to make sure the build steps are correct.

@zgorizzo69 please add to this list if I am missing steps as I do not fully grasp the steps. I understand that it's important to do the following:

- [ ] clone

[2021-09-13 00:23] pavlovcik opened #153 "Public Bonds"

[2021-09-13 16:47] pavlovcik opened #120 "[CONTRACTS] - `fuzzing` <- we are here"

[2021-09-13 17:38] pavlovcik opened #9 "Clarify Withdraw Shares Explaination"
![image](https://user-images.githubusercontent.com/4975670/133130812-2bc49255-142b-462f-8af7-daa56ee1b29b.png)

[2021-09-15 07:48] hpiyankov opened #119 "[CONTRACTS] - Define supplementary incentives for proxy yield farming"
Task: Define additional incentives for the proxy yield farming which will also have positive impact on uAD and UBQ

[2021-09-16 05:03] #153 closed

[2021-09-16 06:59] pavlovcik opened #152 "Check Out LUSD"

[2021-09-16 07:00] #152 closed

[2021-09-19 11:37] #154 closed

[2021-09-20 03:14] pavlovcik opened #118 "[CONTRACTS] - `yarn hardhat priceReset`"
This implementation doesn't make sense. Its primary purpose is to automatically set the price to 1.00 by removing uAD liquidity.

Bonus if I can input the price e.g. `yarn hardhat priceReset --to 1.001" and it'll do the math and reset to the specific price with the same logic.

@hpiyankov let me know if you have any inputs on the reset strategy, but I believe that removing single sided liquidity i

[2021-09-20 22:54] pavlovcik opened #10 "Optimize CI/CD Build Speed"
@Zequez and I worked through getting the build process to work by force moving all dev dependencies into dependencies, but now the build process is extremely slow on vercel. Let's be precise about which dependencies we require for runtime so that the Vercel build process is not so slow!

Check commit 129ba1f21c2b7ecd266e2bf87cb2a254adcc868b

#8

[2021-09-20 23:01] pavlovcik opened #11 "Create `ubiquity-vercel` Account"
1. As we discussed in our call today, we should set up a `ubiquity-vercel` GitHub account and link the UI repo to it for staging purposes.
2. Next we will transfer this `https://github.com/pavlovcik/uad-ui` repo to `https://github.com/ubiquity-vercel/uad-ui`
3. I will fork `https://github.com/ubiquity-vercel/uad-ui` to `https://github.com/pavlovcik/uad-ui`
4. For final deployment, this will force

[2021-09-23 07:03] pavlovcik opened #117 "[CONTRACTS] - Reviving uAD on swap rewards in UBQ"
@zgorizzo69 do you think its realistic to automatically add/subtract from your current pending bonding rewards?

![image](https://user-images.githubusercontent.com/4975670/134466329-98cd78f3-0cb7-4a6b-bf1f-a55c9d0bc34c.png)

### Example

You buy uAD when price below $1.00 and you get a small boost to your pending bonding rewards (more UBQ is withdraw-able) and if you sell immediately afterwards, t

[2021-09-24 07:13] Zequez opened #13 "Yield aggregator UI"
Branch with the new contracts [uad-contracts:proxy-yield-aggregator](https://github.com/ubiquity/uad-contracts/tree/feat/proxy-yield-aggregator)

## Sub-tasks

- [x] Kickstart branch and files https://github.com/ubiquity-vercel/uad-ui/issues/15
- [x] Create final wireframe for the UI
- [x] Create component with static design https://github.com/ubiquity-vercel/uad-ui/issues/18
- [x] Determine APY c

[2021-09-24 07:18] Zequez opened #14 "Bonding Shares UI - Add ability to add liquidity to existing shares"
Right now it's not possible to add liquidity with the current UI; the new Bonding UI can be improved with this.

[code]

[2021-09-24 07:19] #7 closed

[2021-09-27 16:17] Zequez opened #15 "Yield aggregator UI - Kickstart the branch and files"
- [x] New branch feat/yield-aggregator-ui from enhancement/bonding-contracts-ui (which is about to be merged)
- [x] New widget called `components/YieldFarming.tsx`
- [x] Use `ui/widget.tsx`
- [x] Display the UI from common.tsx when user connects wallet
- [x] Create a PR and assign me to review it

[2021-09-27 16:33] Zequez opened #16 "Global indicator for queued transactions"
Right now every widget handles it's own transactions. To integrate the UI we could make a global indicator that:

- Has a spinner indicating a transaction is being processed
- Shows the list of queued transactions
- Indicates failed or succeeded transactions and shows gas fees and information about them
- It's displayed on the header rather than on each specific widget
- All widgets use it as a co

[2021-09-29 06:05] Zequez opened #18 "Yield Aggregator UI - Deposit UI component design"
<img width="546" alt="Captura de Tela 2021-09-29 às 02 59 44" src="https://user-images.githubusercontent.com/126037/135211621-f29c55b6-4f7c-49b7-887f-75e545838aac.png">

- The task is to create the UI component itself.
- Focus on the design itself, don't worry about the params, use hardcoded text, we'll do the params on another task.
- Use the same branch feat/yield-aggregator-ui and we'll keep u

[2021-09-30 22:27] #9 closed

[2021-09-30 23:21] pavlovcik opened #19 "Add WalletConnect Support"
@Zequez this is a luxury and can be put on the backlog, but I could never figure out the interface the other wallets use (window.web3 ?)

This is opera touch on iOS and it doesn't work. Would be awesome if we could add support :)

![image](https://user-images.githubusercontent.com/4975670/135542141-efc6cdda-0748-4dce-b480-51141959c22e.png)

[2021-10-01 07:34] #15 closed

[2021-10-01 07:35] #18 closed

[2021-10-01 09:11] Zequez opened #20 "Yield aggregator UI - Make UI component parametric"
So we've got an amazing foundation to build the UI now thanks to @chriswudev!

<img width="826" alt="Captura de Tela 2021-10-01 às 04 32 55" src="https://user-images.githubusercontent.com/126037/135590245-aabc1b8a-2547-41ce-869d-9d31e642c314.png">

This task is to add parameters:

- [x] Take a `tvl: {usdc: number; ubq: number; uad: number}` parameter with fill the UI with them
- [x] Take a `usdcA

[2021-10-01 09:11] Zequez opened #21 "Yield aggregator UI - UBQ input interactivity"
<img width="826" alt="Captura de Tela 2021-10-01 às 04 32 55" src="https://user-images.githubusercontent.com/126037/135590245-aabc1b8a-2547-41ce-869d-9d31e642c314.png">

- [ ] When user types on UBQ constrain it to 0 to `maxUbq`
- [ ] When user click MAX on UBQ set it to `maxUbq` or `balance.ubq` whichever is lower
- [ ] Set the "10% FEE" value as `depositFee - (inputUbq / maxUbq) * depositFee`.

[2021-10-01 09:11] Zequez opened #22 "Yield aggregator UI - uAD input interactivity"
<img width="826" alt="Captura de Tela 2021-10-01 às 04 32 55" src="https://user-images.githubusercontent.com/126037/135590245-aabc1b8a-2547-41ce-869d-9d31e642c314.png">

- [ ] Constrain the uAD input from 0 to `maxUad * usdcInput` of the USDC input value (right now it's 50%)
- [ ] Disable the uAD input unless the USDC input has a value
- [ ] When user click MAX on uAD set it to `maxUad * usdcInpu

[2021-10-01 09:11] Zequez opened #23 "Yield aggregator UI - Inputs validation"
<img width="826" alt="Captura de Tela 2021-10-01 às 04 32 55" src="https://user-images.githubusercontent.com/126037/135590245-aabc1b8a-2547-41ce-869d-9d31e642c314.png">

- [x] Disable the deposit button until all inputs have a value
- [x] Disable the deposit button if any of the input values is higher than the `balance` values
- [x] Show "You don't have enough {currency} funds" above the disabled

[2021-10-03 03:42] #6 closed

[2021-10-03 03:42] #4 closed

[2021-10-03 03:45] pavlovcik opened #24 "Inventory Link Broken With #12"
#12 broke the feature to click on an asset in your Ubiquity inventory to see the balance on etherscan.

![image](https://user-images.githubusercontent.com/4975670/135738736-fe04116b-1ae4-4ef1-91c2-754721d2188d.png)

![image](https://user-images.githubusercontent.com/4975670/135738747-008a4533-1833-4c3f-acb1-dc3bfef6f4af.png)
https://etherscan.io/error?e=5&t=undefined

[2021-10-03 20:40] pavlovcik opened #25 "Auto Withdraw Collateral Transfer Hook"
WIP issue:

Enable transfer hook to withdraw from Dollar collateral if sell and TWAP below 1.00

--

Next level of stabilization should be the single sided liquidity removal

[2021-10-04 21:20] AprilexSedLex opened #26 "UI Request: Automatically Detect UBQ/UAD Token in User Wallet"
It gets pretty hard when your moving around your Metamask and have to add in all the previous coin and hunt for addresses. I suggest a way to automatically detect if UBQ or uAD is in user wallet and automatically suggest to add in a pop up maybe if its not already there.

[2021-10-05 23:47] #22 closed

[2021-10-05 23:48] #20 closed

[2021-10-05 23:48] #23 closed

[2021-10-06 15:57] Zequez opened #28 "Yield Aggregator UI - Load actual balances from wallet"
Thea balances we need to use are USDC, UBQ and uAD; for the sake of validation.

- [] Load balances on connected.tsx Balances context
- [] Refresh balances after actions
- [] Use the balances on the YieldAggregator

[2021-10-06 16:00] Zequez opened #29 "Refactor and update Ubiquity Inventory component"
- We use USDC now as part of the Proxy Yield aggregator, so maybe we could add it there.
- Also the component should be updated to prevent horizontal scrollbars.
- Should be mobile-friendly
- There is also a possible refactor to re-use code and not have to have a separate component for each currency; I did this on the [context-refactoring branch](https://github.com/pavlovcik/uad-ui/tree/enhancemen

[2021-10-06 16:15] Zequez opened #30 "Pre-calculate gas fees, consolidate transactions, show number of transactions"
Right now on the yield aggregator when you deposit you have to make 4 different transactions. 3 for approval of ERC20 tokens spending (for USDC, UBQ and uAD), and one for the actual contract call. Locally it costs nothing, sure, but it could stack up to a sizable sum on Mainnet.

Can this be all integrated into a single transaction on the contract call? Can we just call the ERC20 tokens `allowance

[2021-10-08 02:25] pavlovcik opened #43 "Update uAD-3crv LP token ratio"
`0.7562534324`

`40,703.649892218079569281/53,822.763838` from this deposit https://etherscan.io/tx/0xf6fb1446a0a87d139231f40f52398326e9009630a8187c75717b066a26557361

[2021-10-11 15:16] Zequez opened #32 "Yield Aggregator - Fetch current Pickle JAR APY numbers"
Right now the yield aggregator has hardcoded the USDC pickle jar APY from https://app.pickle.finance/jars
We should research how to retrieve the actual APY numbers.

[2021-10-12 12:28] marcomow opened #34 "add network to ui"
moving https://github.com/ubiquity/uad-contracts/issues/66 here

without ethereum mainnet visible on ui users who are on multiple evm networks using metamask may get confused. uniswap shows a red message when incorrect network is being used
https://docs.metamask.io/guide/ethereum-provider.html#chain-ids
https://docs.metamask.io/guide/ethereum-provider.html#using-the-provider

[2021-10-12 13:53] pavlovcik opened #116 "Proxy Yield Aggregator "Debt Clock""
When we deploy the global uAR "Debt Clock" (the redemption contract which accepts uAR and mints uAD) this Proxy Yield Aggregator must take this into account and mint more uAR as a reward (as they will depreciate in value.)

Either we wait to deploy with this capability OR we deploy and deprecate this contract when we figure out the "Debt Clock" system

https://github.com/ubiquity/uad-contracts/blo

[2021-10-14 17:32] Zequez opened #115 "`uCR -> uAD` official exchange rate contract "DebtClock""
We need a new contract that helps us calculate the uAR deprecation rate.

Details about the math available on [\[0094-UBQY\] uAR simple calc](https://docs.google.com/document/d/12gGDjRw4s1TRH4mT9v3yb_TFnFDKfzKgTjTfIKtoAMM/edit)

### Policy

The R value is determined by policy and the latest policy is that `The depreciation rate of uAD is defined in such a way, that at the time of uDEBT expiration,

[2021-10-14 17:42] Zequez opened #114 "[CONTRACTS] - DebtCouponManager V2"
Right now the DebtCouponManager works with uAR but without taking into consideration the DebtClock

## Current features

- Mints claimable dollars to get the price back to 1
- Exchange uAD for uAR 1-1 + premium when TWAP < 1
	-  Premium is calculated by UARForDollarsCalculator
- Exhange uAD for uDEBT + premium when TWAP < 1
	- Premium is calculated by CouponsForDollarsCalculator
- Exchange uAR for

[2021-10-17 04:55] pavlovcik opened #36 "TWAP -> Spot Price on UI"
I think users are more interested to see the spot price vs the time weighted average price on the UI. We should change it! Spot means actual current price.

[2021-10-22 06:33] pavlovcik opened #113 "[CONTRACTS] - Single Sided Liquidity Withdrawal Bonding Shares & Accounting"
The ideal setup for investors is:
1. allowing them to put in cash
2. farm UBQ
3. receive debts
4. for us to access the cash for operations

# First Task
- [ ] As per our Telegram conversation the first task is to confirm the hypothesis. I suggest inspecting using Dune and perhaps a little Etherscan for spot checks. Feel free to reference the [Smart Contracts](https://dao.ubq.fi/smart-contracts) pa

[2021-10-25 05:53] pavlovcik opened #37 "Dynamically Read Boost Amounts"
The boost amounts don't appear to be correct. These should be read dynamically from the contract.

https://github.com/ubiquity/uad-contracts/blob/fffc20f7432da7dee273a11900e45c30fb89cf65/contracts/YieldProxy.sol#L27-L30

[code]

_Originally posted by @pavlovcik in https://github.com/ubiquity-vercel/uad-ui/issues/17#issuecomment-950552839_

[2021-10-25 14:11] Zequez opened #112 "[CONTRACTS] - DebtCouponManager V2 - New uDEBT to uAR conversion mechanism"
Right now if you convert uCR-NFT to uCR with the CreditManager you get a 1-1 conversion, no mater how close the uCR-NFT token is to expiring. While if expired does not allow you to convert at all.

The relevant function is `burnCreditNftsForCredits`

## What needs to happen

- Using the CreditClock we should consider the price of the uAD-uAD-equivalent of the uCR-NFT amount (right now it converts

[2021-10-25 14:14] Zequez opened #111 "[CONTRACTS] - DebtCouponManager V2 - uAR to uDEBT conversion mechanism"
Right now there is not way to convert uAR to uDEBT

## What needs to happen

- We need a function (maybe `burnAutoRedemptionForCoupons` for the sake of consistency) that takes any amount of uAR and mints the equivalent of uDEBT as if was being redeemed right there for uAD; so considering the DebtCoupon. To do this, we multiply it by the DebtClock `uarRateAtBlockNumber`

[2021-10-25 14:21] Zequez opened #110 "[CONTRACTS] - DebtCouponManager V2 - Update uAR-uAD minting and burning with the DebtClock"
Right now uAR is burned 1-1 with uAD when TWAP > 1; and minted 1-1 for uAD when TWAP < 1

## What should happen

- Divide the uAD burned for uAR by the DebtClock `uarRateAtBlockNumber`
- Multiply the uAR burned for uAD by the DebtClock `uarRateAtBlockNumber`

[2021-10-25 14:32] Zequez opened #109 "[CONTRACTS] - DebtCouponManager V2 - Add uBOND to debt redeeming priority"
Right now while redeeming debts, uAR has priority over uDEBT.

During uDEBT redemption at `redeemCoupons` we make the following check:

[code]

That should change to also sum the uBondToken total supply.

After adding the uBOND token we should instead check for the balance of the sum of both  uAR and uBOND instead.

And on the `burnAutoRedeemTokensForDollars` we should add something like:

[code]

[2021-10-25 14:35] Zequez opened #108 "[CONTRACTS] - DebtCouponManager V2 - Create uBOND token"
It's just a regular ERC20 token that can be redeemed 1-1 to uAD when the TWAP is > 1

# What needs to happen

- Create uBOND token
- Make redeeming function for uAD 1-1 when TWAP > 1

[2021-10-25 14:42] Zequez opened #107 "[CONTRACTS] - DebtCouponManager V2 - Migrate corresponding uAR to uBOND"

[2021-10-25 14:56] Zequez opened #38 "New DebtCoupons UI"
So in accordance to the specs to mint uAR directly from the dashboard, I took the liberty to rework the existing Debt Coupons UI and integrate all the new upcoming features too. It's still a WIP and I'll be working on creating a bunch of sub-tasks to make the building process clearer and allow us to distribute the load with @chriswudev or anyone who wants to contribute.

<img width="585" alt="Capt

[2021-10-25 19:43] pavlovcik opened #106 "[CONTRACTS] - Tokenized PYA"
We need an LP token as a result of depositing in the PYA to enable interoperability.

[2021-10-26 05:52] pavlovcik opened #39 "`Module not found: Can't resolve '@tippyjs/react'`"
When I do a fresh `git clone` and then run:
`yarn`
`yarn dev`

[code]

Doesn't seem to be an issue if I run `yarn dev` again, but definitely worth investigating!

[2021-10-26 06:51] pavlovcik opened #105 "[CONTRACTS] - Debt Conversion Formulas"
Taken from a Jamboard conversation with @marcomow and @Zequez, I realized that we do not currently allow for users to convert in the directions indicated in RED. We need the formulas for enhancing our internal economy's efficiency and the users' experience!

![image](https://user-images.githubusercontent.com/4975670/138823334-cf8b58c5-6be7-4420-b0ac-68358b2c4a7e.png)

- [x] uAD → uDEBT
- [ ] uAD →

[2021-10-26 19:48] pavlovcik opened #40 "Make sure that UI fully loads or else show error"
when on a call with yyctrader the ui wasnt loading fully and wasnt indicating that it hasn't loaded fully

he is on firefox make sure to test there

[2021-10-26 19:51] pavlovcik opened #41 "booster values UX improvement"
yyctrader recommends to prominently display while typing in the field "you need X UBQ for 0% fee OR on the uAD side the same thing for max boost"

[2021-10-28 15:50] Zequez opened #42 "Add Proxy Yield Aggregator to vFat"
Current page only has the Bonding Shares liquidity staking functionality, so we've gotta update it for the Proxy Yield Aggregator https://github.com/vfat-tools/vfat-tools/pull/1726

[2021-10-29 07:04] Zequez opened #104 "[CONTRACTS] - DebtCouponManager V2 - 1:20 collateralization"
**Relevant links:**

- Ubiquity Treasury Address [0xefc0e701a824943b469a694ac564aa1eff7ab7dd](https://www.notion.so/a824943b469a694ac564aa1eff7ab7dd)
- DebtCouponManager address: [0x432120Ad63779897A424f7905BA000dF38A74554](https://etherscan.io/address/0x432120Ad63779897A424f7905BA000dF38A74554)

**Assumption:**

- The only place where uAD minting is happening (outside of an explicit admin call),

[2021-10-29 09:08] pavlovcik opened #44 "Verify `sharesResults` will support arbitrary lockup weeks durations"
What's up with these values? There should be people with different amounts in the future @Zequez @chriswudev

_Originally posted by @pavlovcik in https://github.com/ubiquity/uad-ui/pull/17#discussion_r739053413_

[2021-10-29 09:29] pavlovcik opened #45 "Cleanup `Environments` / Deploy develop branch to staging domain"
This will be fantastic for the growth team to get sneak previews easily by clicking the environments links for the latest beta UIs. To minimize confusion, we should delete the redundant/deprecated environments, but, I'm not doing it right now because I'm not 100% sure where the extras came from (would like to properly rename to keep this repo clean!)

![image](https://user-images.githubusercontent

[2021-11-02 16:47] marcomow opened #46 "Map ubq.eth ENS to appropriate smart contracts (e.g. uad-token.ubq.eth, ubq-token.ubq.eth, uar-token.ubq.eth, bonding.ubq.eth etc)"

[2021-11-16 16:47] Zequez opened #50 "New DebtCoupon UI - Build static UI"
Just create the static UI without any interaction and use mock data. The parameterization will be a separate task.

- [ ] Make a `DebtCoupon` component
- [ ] Create the UI based on the wireframe mock image
- [ ] Add it to the common UI file
- [ ] Use same styling as the rest of the page
- [ ] Preferably with Tailwind
- [ ] Make branch new-debt-coupon-ui
- [ ] Create PR for the feature

[2021-11-16 19:42] Zequez opened #51 "New DebtCoupons UI - Parameterize component"
The following data should be customizable by parameters with the appropriate types:

## Tokens Details

- [ ] twapPrice - This should be the same as in the twap.price component; it's a BigNumber that we can format with formatEther; we could convert it before passing it to the component and just use a regular number.
- [ ] cycleStartDate - Should take a date, although behind the scenes would be cal

[2021-11-19 20:51] pavlovcik opened #53 "User Experience - Farm Identification"
I spoke with an acquaintance whos jumping in with little context and he was confused about the two different farms we have on the dashboard currently.

I suggest we load the page with both farm UI components being minimized and that you click on them to open them.

Also we should make as clear as possible what the reward asset is for each.

![image](https://user-images.githubusercontent.com/497567

[2021-11-30 14:31] Zequez opened #54 "New DebtCoupon UI - Ensure thousand-separator for all numbers"
<img width="870" alt="Captura de Tela 2021-11-30 às 11 29 37" src="https://user-images.githubusercontent.com/126037/144066199-bd60c251-f87c-4636-9576-ac6ec2479406.png">

As it can be seen, there is an inconsistency there in the number formatting; ensure all numbers are consistent.

[2021-11-30 14:38] Zequez opened #55 "New DebtCoupon UI - Show expected uAR and uDEBT to be received accordingly"
<img width="870" alt="Captura de Tela 2021-11-30 às 11 29 37" src="https://user-images.githubusercontent.com/126037/144066366-0d3aae1f-27dd-463c-ad03-73eb5903e56e.png">

Right now it only shows the expected uDEBT to be received. However there is also the possibility of calculating the expected uAR, and we should show that, using the `UARForDollarsCalculator` contract, in a similar way that it's c

[2021-11-30 14:41] Zequez opened #56 "New DebtCoupon UI - Use the loaded contracts from context"
As of now, the DebtCouponUI is using the code from the old Debt coupon component, and that's alright, it works. However, it would be nice to move al the contracts loading to the contracts context mechanism. On the `depositDollarForDebtCoupons` we are using the `UbiquityAlgorithmicDollar` contract and the `DebtCouponManager` which are both already loaded on the contracts context. And on the `_expec

[2021-11-30 14:44] Zequez opened #57 "New DebtCoupon UI - Automatically max the uBOND and uAR inputs to the max amounts on the user balance"
<img width="859" alt="Captura de Tela 2021-11-30 às 11 28 41" src="https://user-images.githubusercontent.com/126037/144068189-a6863540-fb5c-4780-af09-d68a890b8345.png">

So that should automatically max to `1000` whenever we try to input a larger amount. (same for uAR)

Another option would be to disable the redeem button if the amount is <= 0 or > of the total balance. Either way would work.

[2021-11-30 14:48] Zequez opened #58 "New DebtCoupon UI - uDEBT indicator on the uAR swap should change with the uAR input"
<img width="855" alt="Captura de Tela 2021-11-30 às 11 29 26" src="https://user-images.githubusercontent.com/126037/144068517-cde092ee-3a60-4ebb-8f5f-6c742f615b52.png">

The uDEBT number here should be updated dynamically when the uAR input changes, according to a formula that doesn't exist yet, so just mock it with a "uarToUdebtFormula" that returns 90% of the value or something, so the UI is al

[2021-11-30 14:50] Zequez opened #59 "New DebtCoupon UI - Fixes to the uDEBT table"
<img width="870" alt="Captura de Tela 2021-11-30 às 11 29 37" src="https://user-images.githubusercontent.com/126037/144069369-4268ec51-36c8-4cda-90fa-f2ea55164779.png">

The SWAP numbers should be buttons, as clicking these would convert the uDEBT to uAR

When SWAPing with UBQ it means it's expired, so the current data (which is a mock, I know) should show something like "-16 days", or "16 days a

[2021-11-30 15:02] Zequez opened #60 "New DebtCoupon UI - TWAP price bar specification"
Currently the TWAP price bar looks like this:

<img width="985" alt="Captura de Tela 2021-11-30 às 11 52 10" src="https://user-images.githubusercontent.com/126037/144069913-57dfce24-e84e-4942-8cfb-afad09ac316d.png">

- If the TWAP price is $1 the bar should be right in the middle
- If TWAP price is <$1
  - The bar should be moved to the left proportionally (maxed at 20% left-positioned)
  - Price

[2021-12-08 16:51] #59 closed

[2021-12-08 16:52] #57 closed

[2021-12-08 16:52] #54 closed

[2021-12-08 16:53] #55 closed

[2021-12-08 16:53] #56 closed

[2021-12-08 16:53] #51 closed

[2021-12-08 16:53] #50 closed

[2021-12-08 20:07] pavlovcik opened #103 "PYA - Multi asset withdrawal"
# Multi asset withdrawal

I think we should leave open to the user to be able to determine the withdrawal asset (USDC, uAR, or a combination) upon withdrawal for enhanced UX. We can have a slider on the UI. Also, of course, the max USDC the user will be able to withdraw is the amount they farmed with their principle.

Identical scenario with three different users with different risk tolerances:

#

[2021-12-15 21:50] pavlovcik opened #61 "Segment dApp Into Separate Views"
We should start isolating functionalities of our protocol into different views

![image](https://user-images.githubusercontent.com/4975670/146270469-507f8897-855a-4162-b1db-41fec3eca681.png)
[https://app.olympusdao.finance/#/dashboard](https://app.olympusdao.finance/#/dashboard)

[2021-12-19 22:36] pavlovcik opened #102 "[CONTRACTS] - PYA - Live Status"
![image](https://user-images.githubusercontent.com/4975670/146693335-9308931f-bb5c-4780-a273-d0b3990fc238.png)

Funds have been in here for a couple of days now, I would expect to see status updates. Also, quite frankly the numbers look wrong, most of everything is 0'd out.

[2021-12-23 16:44] #29 closed

[2021-12-23 16:51] #16 closed

[2021-12-23 16:56] #60 closed

[2021-12-29 14:19] Zequez opened #62 "Launch Party UI"
What are the necessary things left for the Launch Party UI?

I'm going to be creating an issue for each of the following

- [x]  Launch party page is live on [uad.ubq.fi](http://uad.ubq.fi)
- [x]  All the necessary contracts are connected and live data is retrieved and transactions sent
    - [x]  Whitelisting feature
        - [x]  Check if address on whitelist
    - [x]  Mint UbiquiStick feature

[2021-12-29 14:56] Zequez opened #63 "Launch Party UI - Whitelisting component"
<img width="875" alt="Captura de Tela 2021-12-29 às 11 56 38" src="https://user-images.githubusercontent.com/126037/147674961-dc49d999-d4ca-4a57-8d37-0f7fd308560d.png">

- [x] By using the whitelisting contract, check that the user address is on the whitelist

[2021-12-29 14:56] Zequez opened #64 "Launch Party UI - UbiquiStick component"
<img width="856" alt="Captura de Tela 2021-12-29 às 11 56 41" src="https://user-images.githubusercontent.com/126037/147675015-45679177-8243-4fd9-aa4c-1d11b95c8f71.png">

- [x]  Check for owned UbiquiStick with the NFT contract
- [ ]  Link the minting button with the UbiquiStick sale contract

The current addresses for the UbiquiStick are the following:

UbiquiStick sale contract:

[https://ethers

[2021-12-29 14:56] Zequez opened #65 "Launch Party UI - Pool component"
<img width="871" alt="Captura de Tela 2021-12-29 às 11 56 45" src="https://user-images.githubusercontent.com/126037/147675046-75d35ccf-9d02-4527-b7c6-9ccfb891151e.png">

- [x]  Bonding Contract
- [x]  https://github.com/ubiquity/uad-ui/issues/75
- [x]  Deposit LP to bonding contract
- [x]  Calculate APY from bonding contract
- [x] Get balance from  contract

[2021-12-29 14:56] Zequez opened #66 "Launch Party UI - Claiming component"
<img width="855" alt="Captura de Tela 2021-12-29 às 11 56 50" src="https://user-images.githubusercontent.com/126037/147675117-99dc14a0-0a6e-4bdd-b1f5-90f3ab31bbb6.png">

- [x]  Claim funds from bonding contract
- [x]  Get list of bonds for address
- [x]  Get amount claimable for each bond
- [x]  Get amount claimed for each bond
- [x]  Get time left for each bond
- [x]  Get total amount for each b

[2021-12-29 14:56] Zequez opened #67 "Launch Party UI - Whitelisting contract and admin panel"
First, what's the whitelisting contract address for the Launch Party; and how do we manage the whitelist? KP mentioned that there is already a UI that acts as a control panel for the whitelisting contracts; where is this?

What do we need?

- [x] Custom Whitelisting contract address
- [x] Add whitelisting multiple people at the same time

[2021-12-29 14:56] Zequez opened #68 "Launch Party UI - Consolidate information about liquidity pools to be used"
We need the following information about each pool:

- Token pair
- Pool contract address
- Pool contract link (Uniswap/Sushiswap?
- Logo (PNG or SVG work fine)
- How do we select it on the bonding contract? With the address? With an ID?

[2021-12-29 14:56] Zequez opened #69 "Launch Party UI - External links"
- [x]  Link to the Twitter whitelisting request
- [x] What pre-filled message do we want?
- [x]  Link to UbiquiStick open seas NFT page
- [x]  Link to buy/sell the liquidity pool tokens
- [x]  Link to buy/sell the uAR-ETH pool

[2021-12-29 14:56] Zequez opened #70 "Launch Party UI - State management"
Because the components depend on each other information for their activation, let's make a centralized state management for the launch party.

I'll explore using Recoil for the state management; I haven't used it before but it looks interesting and quite straightforward. If the result is satisfying, we can use it instead of the convoluted context system we have on the other part of the repo.

[2021-12-29 15:10] Zequez opened #71 "Launch Party UI - Make the app publicly available"
Right now it's going to be located at https://uad.ubq.fi/launch-party after it's merged on the main branch, and likely as a sub-app from the sidebar refactoring that Chris is working on right now. Is there any other opinion about this? Like using a custom subdomain?

[2021-12-29 22:26] pavlovcik opened #72 "Link to UbiquiStick open seas NFT page"

[2022-01-04 16:43] Zequez opened #73 "Launch Party UI - Contract interface"
- Deposit function that takes the token pair and an amount
- A way to calculate APY for each token pair
- A way to read the progress of the bonding period (get the end block and the total uAR rewarded and the claimable uAR at the moment)
- A way to claim all the rewards at the same time on a single transaction

Taggin @zapaz so we can discuss here.

[2022-01-12 19:53] #70 closed

[2022-01-12 19:53] #64 closed

[2022-01-12 19:54] #63 closed

[2022-01-14 16:20] Zequez opened #74 "Launch Party UI - Changes to UbiquiStick UI"
Show xN only if >= 2
Show only Standard/Gold if gotten otherwise no name
Show video instead of image
Add invisible stick
Replace images/videos with IPFS metadata URL directly

[2022-01-14 16:23] Zequez opened #75 "Launch Party UI - Get liquidity info from LP contracts"
So, the SimpleBond contract allows any token; but we are going to use LP tokens which also have liquidity information for each token.

I'm not sure yet which contract we'll be using for the LP tokens (Uniswap or Sushiswap), but we'll need to import the contract ABI and type so we can use it on the UI.

Right now for the sake of testing I'm actually using regular random ERC-20 tokens which don't ha

[2022-01-26 17:08] Zequez opened #76 "Launch Party UI - Calculate dollar price from uAR amount"
- [x] Read the price of ETH from different places
- [x] Read the uAR-ETH from the golden pool
- [x] Show USD price next to uAR on the liquidation and "your bonds" components

[2022-01-27 15:48] Zequez opened #77 "Launch Party UI - Check on the contract if the Ubiquistick is required to use the pools"

[2022-01-27 15:48] Zequez opened #78 "Launch Party UI - QA testing checklist"
Setting up the project for easier initialization.

There is a launch-party branch on uad-ui on uad-contracts and on the-ubiquity-stick repositories.

1. `git clone https://github.com/ubiquity/uad-ui`
2. `cd uad-ui`
3. `git checkout launch-party`
4. `yarn`
5. `yarn contracts:init`
6. Fill the .env file on contracts and the-ubiquity-stick
    1. It’s the same .env except the-ubiquity-stick requires

[2022-02-02 11:12] #65 closed

[2022-02-02 11:12] #66 closed

[2022-02-02 11:12] #67 closed

[2022-02-02 11:12] #73 closed

[2022-02-02 11:12] #75 closed

[2022-02-02 11:12] #76 closed

[2022-02-03 16:31] #77 closed

[2022-02-03 19:52] Zequez opened #79 "Launch Party UI - Calculate minimum gas limit for minting gold sticks"
Right now if you mint a stick and it randomly turns out to be a gold stick, you get a gas limit error; so the stick is not minted after all.

How can we calculate the minimum gas to mint a golden stick and how can we increase it for the transaction?

[2022-02-03 20:00] #74 closed

[2022-02-09 14:53] orion-black-vercel opened #80 "Launch Party - Switching account in Metamask should trigger reload"

[2022-02-09 14:54] #80 closed

[2022-02-09 14:55] marcomow opened #81 "Launch Party - Switching account in Metamask should trigger page reload"
Otherwise the funds/nfts are shown incorrectly, but refresh fixes everything

[2022-04-08 16:26] #81 closed

[2022-04-13 16:28] #40 closed

[2022-04-13 16:28] #39 closed

[2022-04-13 16:29] #34 closed

[2022-04-13 16:29] #61 closed

[2022-04-13 16:30] #26 closed

[2022-04-15 13:53] #79 closed

[2022-04-15 14:26] #78 closed

[2022-04-15 14:31] #68 closed

[2022-04-15 14:32] Zequez opened #84 "Launch Party UI - Create missing pools and add the addresses to the configuration"
- [ ]  Right now we’ve got only the uAR-WETH pool and the uAR-USDC pool; the following pools contracts need to be created and their addresses added to the UI
    - [ ]  uAD-LUSD
    - [ ]  uAD-OHM
    - [ ]  uAD-MIM
    - [ ]  uAD-UST
    - [ ]  uAD-FRAX
    - [ ]  uAD-FEI
    - [ ]  uAD-DOLA
    - [ ]  uAD-DAI
    - [ ]  uAD-USDT
    - [ ]  uAD-ALUSD

Addresses gotta be added to the `launch-party

[2022-04-15 14:34] #71 closed

[2022-04-15 14:36] #69 closed

[2022-04-15 14:39] #62 closed

[2022-04-15 14:49] #53 closed

[2022-04-15 14:56] #44 closed

[2022-04-15 15:03] #41 closed

[2022-04-15 15:05] #37 closed

[2022-04-15 15:22] Zequez opened #85 "Allow users to explicitly manage their ERC20 tokens allowances"
Right now most of our contracts ask for the specific allowance needed for the transactions to be done.
Some advocate for setting infinite allowance; others for what we are doing right now. [Both have their pros and cons.](https://kalis.me/unlimited-erc20-allowances/)

So I suggest we allow users to set the allowance themselves (allow them to set to infinity if they want); and maybe even build an U

[2022-04-15 15:29] Zequez opened #86 "Simplify the Yield Aggregator deposit UI"
![image](https://user-images.githubusercontent.com/4975670/149573655-86c2951c-da29-4618-b6e9-4bb37ee1a3ae.png)

<img width="428" alt="Screen Shot 2022-01-14 at 13 25 33" src="https://user-images.githubusercontent.com/4975670/149573550-2a0c3793-e506-44de-b4ef-18a6770bf956.png">

Issue based on this comment by @pavlovcik

https://github.com/ubiquity/uad-ui/issues/13#issuecomment-1013396224

[2022-04-15 15:30] #13 closed

[2022-04-15 15:40] Zequez opened #87 "Make the contracts addresses automatically accessible to the UI"
Right now for the Ubiquistick contracts we are copying the contracts addresses manually, which is inconvenient and the addresses can change.
The addresses are available at `/contracts/ubiquistick/deployment` so let's get the addresses for both localhost and mainnet and use the accordingly.

[2022-04-17 09:51] sergfeldman opened #88 "v1.0.0"
- [ ] #

[2022-04-18 17:20] Zequez opened #89 "Launch Party - Calculate APY by compounding"
Right now the APY is calculated without compounding taken into account.

Right now it's calculated like this:

[code]

We gotta calculate it as if we compounded it every 5 days instead.

[2022-04-19 17:20] Zequez opened #90 "Make account impersonation workflow for testing"
So there are 2 things here, one is impersonating an address for the sake of reading; and the other is using that as a signed by using the Hardhat impersonation function while working with the local Hardhat node. The first one is quite straightforward, and the second one needs a little bit of research.

[2022-04-21 18:06] sergfeldman opened #91 "Update the year on all pages"
Currently, there is 2021 on the page https://dao.ubq.fi/
Please, update year tp 2022 on all pages

[2022-04-21 18:32] sergfeldman opened #92 "Check the top menu on mobile"
Please, check that the top menu on mobile works properly
If there are issues, then fix them

Pages - all pages on https://ubq.fi/
Device - any mobile phone on Android or iOS
Browser - Chrome (latest version)

[2022-04-21 18:45] sergfeldman opened #93 "Check the search functionality"
Please, check the search functionality on the https://dao.ubq.fi/ works properly
If there are issues, then figure out the root cause of each issue

Pages
https://dao.ubq.fi
https://dao.ubq.fi/docs

[2022-04-21 18:57] sergfeldman opened #94 "Check the favicon on all pages"
Currently, on the page https://landing.ubq.fi/en/ the favicon of the tab in the browser looks differently from the favicon on other pages.
Please, check that the favicons on all pages are the same.
If needed, then update so that all the pages have the same favicon.

[2022-04-21 18:58] sergfeldman commented on #94
![5](https://user-images.githubusercontent.com/15567379/164533713-9dad2138-fbf0-45a1-8cdb-4869bbbf7088.JPG)

[2022-04-21 19:12] sergfeldman opened #95 "Set up redirect for www.ubq.fi"
Please, set up redirect for www.ubq.fi

From variations with www in domain name
https://www.ubq.fi
http://www.ubq.fi

to https://ubq.fi

![7](https://user-images.githubusercontent.com/15567379/164535857-7fb18c21-d625-4189-9729-8231338f98b5.JPG)
![8](https://user-images.githubusercontent.com/15567379/164535860-684c9c96-42b4-47a0-b375-eef777f3c6a9.JPG)

[2022-04-21 19:16] sergfeldman opened #96 "Establish/update 404 page"
Please, establish/update a regular 404 page where a user gets clear information in the same style

Check on cases
https://ubq.fi/a
https://dao.ubq.fi/d
https://uad.ubq.fi/a

TBD

![9](https://user-images.githubusercontent.com/15567379/164536474-ef7c7752-bc31-433e-9653-764907a4d4e1.JPG)

[2022-04-22 17:45] sergfeldman opened #97 "Figure out the way how to maintain styles on the website after updates of Travis`s project"
Figure out the way how to maintain styles on the website after updates of Travis`s project
https://github.com/transitive-bullshit/nextjs-notion-starter-kit

First of all check the version before this commit
 https://github.com/transitive-bullshit/nextjs-notion-starter-kit/commit/679131ad22b0aa581ed9460096f8df12a02e5029

[2022-04-27 19:35] #95 closed

[2022-05-01 11:38] pavlovcik opened #99 "Vercel Build Process"
## Overview

Vercel fails to build when deploying. When we refactored everything into a monorepo we also significantly automated the build process. Unfortunately this new build process does not seem to work for Vercel.

## Findings

* Please login to the @ubiquity-vercel account, then login to Vercel in order to access our staging environment.
* Vercel is programmed to run `yarn run vercel-build`

[2022-05-02 17:41] #91 closed

[2022-05-02 17:45] #93 closed

[2022-05-02 19:58] sergfeldman opened #100 "Fix the styles of Search"
Please, review and fix the styles of the Search results
![1](https://user-images.githubusercontent.com/15567379/166311394-b6d9e89d-90af-4a5c-9256-3c6272d2c40f.JPG)
![2](https://user-images.githubusercontent.com/15567379/166311397-572531fc-7868-4499-b810-ec951a055d0b.JPG)

[2022-05-02 20:06] sergfeldman opened #101 "Fix availability of the pages listed on dao.ubq.fi"
Please, fix the availability of the pages listed on dao.ubq.fi
https://dao.ubq.fi/about
https://dao.ubq.fi/announcements
and others
![4](https://user-images.githubusercontent.com/15567379/166317785-0994ed30-aa78-4475-b6c3-5515f3f0a839.JPG)
![5](https://user-images.githubusercontent.com/15567379/166317790-b5af1b99-4121-4dca-a2b9-ee5fc0cf6bb6.JPG)

[2022-05-03 17:39] #36 closed

[2022-05-03 17:40] #87 closed

[2022-05-03 17:57] sergfeldman opened #126 "Gracefully show an error when the smart contract is unavailable on the selected network"

[2022-05-04 17:24] sergfeldman opened #145 "Consolidate code of all website pages in 1 repo"
Background
There are some pages code of that is located in other places than https://github.com/ubiquity/ubiquity-dollar-development
The example is landing.ubq.fi

Request
Please, consolidate the code of all website pages in 1 repo https://github.com/ubiquity/ubiquity-dollar-development

[2022-05-04 20:29] #92 closed

[2022-05-04 22:39] pavlovcik opened #146 "Rebrand Debts into Credits"
Credits have a more positive feeling vs debts, so we're rebranding! Please reflect this in the UI.

<img width="476" alt="Screen Shot 2022-05-05 at 06 37 22" src="https://user-images.githubusercontent.com/4975670/166836587-32ff0779-59e5-4273-9278-2bd84e4c8b8d.png">

![uCR-1000x1000](https://user-images.githubusercontent.com/4975670/166836760-3bb901d6-fbd1-41ba-a326-68d0e8057dd1.png)

The raw vecto

[2022-05-05 09:10] #85 closed

[2022-05-05 14:57] #99 closed

[2022-05-06 08:19] pavlovcik opened #147 "Nav Bar Clarify External Links"
<img width="240" alt="image" src="https://user-images.githubusercontent.com/4975670/167094329-ac0437e3-aad3-4794-98c9-1c4b32f58c5a.png">

Use the square and arrow icon like this (I found in Cloudflare) to annotate the external links on the nav bar: UBIQUITY INTRO, DOCS, DAO, BLOG

<img width="236" alt="image" src="https://user-images.githubusercontent.com/4975670/167093991-5cc0144d-433e-4e46-b079-

[2022-05-09 15:06] #89 closed

[2022-05-10 17:29] #97 closed

[2022-05-10 17:38] #45 closed

[2022-05-13 00:24] littleflute23 opened #159 "Rebrand Price Stabilization to "Redeem""
Rebrand Price Stabilization to "Redeem." Wasn't really sure what Price Stabilization means at first and think just renaming it would make a lot more sense.

<img width="960" alt="2022-05-12 20_19_42-MetaMask Notification" src="https://user-images.githubusercontent.com/99516437/168187833-df45787a-b6b5-460a-a41a-6877442c790c.png">

[2022-05-13 00:27] littleflute23 opened #160 "Make "Price Stablization" Interface show up regardless of whether you have uAD in your wallet or not."
Right now, if you do not hold Ubiquity Dollars/Credits in your wallet the interface does not seem to show up for the web page. Please make it so that it shows up regardless.
<img width="960" alt="2022-05-12 20_19_42-MetaMask Notification" src="https://user-images.githubusercontent.com/99516437/168188183-981c2db6-3747-49b8-860e-b1da097b9b90.png">

[2022-05-13 00:46] littleflute23 opened #161 "Change Price Stablization Interface"
So talked with Alex. Think we can get rid of the TWAP price and keep the 3CRV Price as the main point. Recommend changing "3-CRV Swap Price" to "Ubiquity Dollar Spot Price." For the TWAP Price, I think you can have a small question mark around "Ubiquity Dollar Spot Price" and when someone hovers over it, the menu can show the TWAP Price.

<img width="427" alt="2022-05-12 20_43_39-Dashboard _ Ubiqu

[2022-05-13 01:15] littleflute23 opened #162 "Rename "Liquidity Mining" to "Staking""
<img width="154" alt="2022-05-12 20_49_01-Dashboard _ Ubiquity Dollar"
 src="https://user-images.githubusercontent.com/99516437/168192094-1d763a36-175a-4ff9-aa59-6abb6424dd28.png">

[2022-05-13 01:18] littleflute23 opened #163 "Change "Staking" (Previously Liquidity Mining) Interface."
<img width="511" alt="2022-05-12 21_15_43-Dashboard _ Ubiquity Dollar" src="https://user-images.githubusercontent.com/99516437/168192248-8f221d54-d903-44d7-89f8-47c2636e8def.png">

On the title that says "Liquidity Mining," I suggest changing that term into something like "Stake uAD-3CRV tokens-> Receive uBQ" or something of the sort.

[2022-05-13 01:20] littleflute23 opened #164 "Change "Bonding Contract" Contract name to "Staking""
<img width="538" alt="2022-05-12 21_20_13-Telegram (480019)" src="https://user-images.githubusercontent.com/99516437/168192566-e5feef7d-36f9-4a1d-b7a2-219182943275.png">

[2022-05-13 01:39] pavlovcik opened #167 ""Add Liquidity" UI for Easier UBQ Farming"
In order to make it easier for people to start farming UBQ, we should take the UI from [crv.to](https://crv.to/pool) to allow people to deposit their stablecoins into the Curve metapool.

![photo_2022-05-13 09 38 47](https://user-images.githubusercontent.com/4975670/168194209-a3e89c0e-bde1-4676-92d8-8fc01617b355.jpeg)

[2022-05-13 02:20] littleflute23 opened #168 "Change "10.10% - 19.65%APY" to "Projected APY ..." instead."
<img width="566" alt="2022-05-12 22_01_40-Dashboard _ Ubiquity Dollar" src="https://user-images.githubusercontent.com/99516437/168196603-271aeb5d-63cf-4cc4-8fe3-c727fea624a1.png">

Sort of like Ribbon Finance
<img width="223" alt="2022-05-12 21_23_36-Ribbon Finance_ Decentralised Crypto Structured Products" src="https://user-images.githubusercontent.com/99516437/168199116-9c24eb92-6775-44ec-b5d8-3

[2022-05-13 02:22] littleflute23 opened #169 "Rename "Swap Tokens" to just "Swap""
<img width="151" alt="2022-05-12 22_22_11-Dashboard _ Ubiquity Dollar" src="https://user-images.githubusercontent.com/99516437/168198783-e4fed456-a085-492f-bcb3-bf05c79e83a7.png">

[2022-05-13 03:35] pavlovcik opened #170 "Add a URI Setter method to the Stake (Bond) NFT Contract"
The implementation is messed up on the NFT token contract and it does not display any metadata on OpenSea or Etherscan. We should include the deposit details and give it a graphic!

https://opensea.io/collection/unidentified-contract-ri6rdz48y4

[2022-05-17 17:52] #90 closed

[2022-05-20 16:25] sergfeldman opened #174 "Research setup of the backend for Staging"
**Background**

The goal is to have a fully functional Staging environment.
It will allow performing testing by each team member without installations in the local environment.

It must be possible to perform all the actions with all the products.

For Bonds
- Get to know the products
- Buy/create
- Check
- Sell/withdraw
- Bond
- Collect tokens from the Bond vesting period
- Swap

The frontend of

[2022-05-23 18:00] Zequez opened #175 "Launch Party - Resolve Gelato to Arrakis renaming"
As mentioned by Alex, Gelato was renamed to Arrakis https://www.arrakis.finance/, so we need to update the links; and the links to the pool specifically, otherwise people won't be able to buy LP tokens.

- Update links
- Make sure pools are accessible

[2022-05-24 17:18] #84 closed

[2022-05-24 17:21] sergfeldman opened #177 "Create the UI for deposit Gelato/Arrakis"

[2022-05-24 17:30] #146 closed

[2022-05-24 17:39] sergfeldman opened #178 "Fix the broken preview on Vercel - Vercel needs to be linked to the repo"

[2022-05-26 17:41] #169 closed

[2022-05-26 17:41] #168 closed

[2022-05-26 17:41] #163 closed

[2022-05-26 17:41] #162 closed

[2022-05-27 14:10] #160 closed

[2022-05-27 17:17] #175 closed

[2022-05-30 17:25] #159 closed

[2022-06-02 06:53] pavlovcik opened #183 "Proxy Yield Aggregator v1.0.0 - ERC4626 Compatible Deposit Contract"
### Discussed in https://github.com/ubiquity/ubiquity-dollar-development/discussions/171

<div type='discussions-op-text'>

<sup>Originally posted by **pavlovcik** May 14, 2022</sup>
# "Bring Your Own Yield Source"

For the next iteration of the Proxy Yield Aggregator (PYA) program a user should be able to bring their own [ERC4626](https://github.com/fei-protocol/ERC4626/blob/7a947f2507b760ae47057

[2022-06-08 20:40] pavlovcik opened #187 "Continuous Deployment via fleek.co (instead of Vercel)"
fleek.co seems to support continuous deployment like Vercel BUT you can link an organization account for free!

In case I don't have time to solve this immediately, I would love for somebody else like @Zequez to take a crack at it. My builds don't seem to work.

![Screen Shot 2022-06-09 at 04 38 32](https://user-images.githubusercontent.com/4975670/172712751-a824beed-aa54-4c4a-920c-077d86df2539.pn

[2022-06-14 12:22] pavlovcik opened #189 "`uCR` & `UBQ` Economy-Wide "Risk Premium""
# Objective
- The purpose of this smart contract is to allow talent to convert their cash (intended for base payroll) into uCR and/or UBQ.

# Benefits
- We can incentivize talent to leave cash equivalents (e.g. USDC/DAI) with us to reduce our burn rate.
- We can skip negotiating the `uCR`/`UBQ` compensation with talent during the hiring process and have them handle it permissionlessly via this con

[2022-06-28 17:06] sergfeldman opened #193 "Implement Beta-testing mode"
Implement Beta-testing mode

If
1) The user has an UbiquiStick NFT
And
2) Ubiquity Hardhat RPC endpoint is available

Then
- A modal pops up that allows connecting the wallet to Ubiquity Hardhat RPC endpoint
And
- Simple authentication (nice to have, the research is needed)

Else
- Show an error

[2022-07-05 23:52] #101 closed

[2022-07-06 04:53] #119 closed

[2022-07-06 10:12] #32 closed

[2022-07-06 10:36] #42 closed

[2022-07-06 10:39] #102 closed

[2022-07-06 10:41] #86 closed

[2022-07-11 13:11] #178 closed

[2022-07-12 21:56] pavlovcik opened #206 "Convert Project From Hardhat to Foundry"
More details on this later but it appears that the advanced developer sentiment in the ecosystem is leaning heavily towards Foundry being the future for development and writing tests.

Because one of the killer features of Foundry is that automated tests for the smart contracts are written also in Solidity, this means that the bounty hunter must port all of our tests over from TypeScript to Solidi

[2022-07-19 12:32] pavlovcik opened #209 "GitHub Actions private testnets"
_Originally posted by @pavlovcik in https://github.com/ubiquity/ubiquity-dollar-development/issues/193#issuecomment-1182551791_

So GitHub Actions runner can run for 6 hours with something crazy like 16GB memory, meaning, we could probably have the beta testing UI do an AJAX request to tell GitHub to build our contracts and host an Anvil instance, and then return the URL + Port of that runner to u

[2022-07-19 20:33] george-shammar commented on #206
Would like to take a crack at this. GGR

[2022-07-20 08:08] #147 closed

[2022-07-20 10:41] pavlovcik opened #212 "General Refactorings"
Can you clean up the repository for all the junk (leftover/unused files/scripts) and reorganize directory structure to make things less of a mess for our new bounty hunters?

There's a ton of little things, and I figured it would be best to assign to you because it would take a long time to produce a real specification. I trust your judgement!

[refactor/general](https://github.com/ubiquity/ubiqui

[2022-07-22 14:20] #118 closed

[2022-07-24 09:11] george-shammar commented on #206
@pavlovcik and @sergfeldman Kindly let me know when it's a good time to get started on this. Regards.

[2022-07-24 12:08] george-shammar commented on #206
@pavlovcik It depends but Foundry could be integrated with Hardhat. You can check this out: https://book.getfoundry.sh/config/hardhat

[2022-07-24 12:16] george-shammar commented on #206
I thought so too and that's why I said it depends. I assumed you wanted to retain your Hardhat tasks. But I'll advise going full-on Foundry.

[2022-07-25 14:52] george-shammar commented on #206
Acknowledged.

[2022-07-25 20:01] pavlovcik opened #213 "Bonding Shares UI Miscalculation"
~95k LP locked in bonding contract according to the UI, but Etherscan reports ~51k (and a max total supply of ~54k)

<img width="385" alt="image" src="https://user-images.githubusercontent.com/4975670/180863967-57187755-2130-49d7-ba6f-22132d27ef9a.png">

<img width="794" alt="image" src="https://user-images.githubusercontent.com/4975670/180864058-ec835dda-8a64-4e55-b751-9dbdf1e5f02f.png">

https:/

[2022-07-25 22:39] pavlovcik opened #215 "Wrong Network Infinite UI Crash Loop"
There's an infinite crash loop for when Metamask is connected on the wrong network (seems like anything but Ethereum mainnet)

The whole page seems to hot reload and it bogs down the browser.

<img width="1920" alt="image" src="https://user-images.githubusercontent.com/4975670/180885853-b5c95148-592f-4755-abb6-d35fbe1a9114.png">

[2022-07-26 00:04] officialsupport-ui commented on #215
Kindly get in touch to get your issue resolved

[2022-07-28 22:13] #104 closed

[2022-07-29 20:48] sunny0714 commented on #161
#222 linking PR

[2022-08-01 03:12] pavlovcik opened #223 "Untrusted PR CI/CD"
Cloudflare and Fleek seem to only work sometimes. We need reliable CI/CD to run on every commit on untrusted PRs for our bounty hunters in order to expedite the review process. More details later but must high level requirements:
- [ ] Must host deployments
- [ ] Must build and report results

[2022-08-03 09:16] #223 closed

[2022-08-03 20:43] pavlovcik opened #225 "Ubiquity Credit (uCR) Cash Out UI"
We should make a simple UI that will allow a user to cash out uCR. This is intended to be the official "cash back rewards" interface.

1. It will abstract the technical (conversion) details away from the end user.
2. It will ask the user if they want to redeem for uAD/USDC/DAI/USDT.
3. The UI will estimate the final result of the transactions e.g. 100 uCR -> 65 USDC.

### Above Peg
It will redeem

[2022-08-25 19:46] george-shammar commented on #206
Yes, it is.

[2022-08-26 17:52] sergfeldman opened #243 "Adapt the contract to simplify UBQ farming"
### Background

The source code in this repo https://github.com/ubiquity/ubiquity-instadapp/tree/master/backend/contracts/mainnet

We made this contract for Instadapp
https://etherscan.io/address/0x8ec066d75d665616a94f2eccdbe49b54eaeefc78#code

### To do
Adapt the contract to simplify UBQ farming

- Adapt the contract for Instadapp for the Ubiquity website to simplify liquidity providing for DeFi

[2022-08-27 11:19] super-dev0728 commented on #43
Hello. So was this issue solved?

[2022-08-27 11:20] super-dev0728 commented on #167
Hello. Can I start work for this issue?

[2022-08-28 22:59] super-dev0728 commented on #43
Thanks for your email.
Could you tell me what issues are available?

Thanks

On Sun, Aug 28, 2022 at 1:54 PM Serg Feldman ***@***.***>
wrote:

[2022-08-29 18:36] #43 closed

[2022-08-30 01:05] #212 closed

[2022-08-30 01:15] #122 closed

[2022-08-30 01:17] #10 closed

[2022-09-01 08:39] george-shammar commented on #206
@pavlovcik @sergfeldman I would like to release this bounty back into the pool. I may not be able to complete it within a reasonable time due to recent demands on my time from other engagements. It would be unfair to keep holding up the project when there may be others who can complete it ASAP. I had a brief chat with @pavlovcik in this regard. The project has been converted to Foundry. Contracts

[2022-09-07 10:05] 0xcodercrane opened #250 "Enhanced type safety"
### Problem

Regarding to workspace conversion, we replaced typechain types with a generic `ethers.Contract` which looks like not safe.

Refer the following link for more details
https://github.com/ubiquity/ubiquity-dollar/pull/249#discussion_r964612548

[2022-09-07 10:43] pavlovcik opened #252 "cspell dictionary"
We should have spell check as part of our commit hook.

For examples like these, we can add "uAD" to the cspell dictionary.

[2022-09-12 06:49] pavlovcik opened #253 "APR calculation broken (property names changed during Foundry conversion?)"
Somewhere between https://github.com/ubiquity/ubiquity-dollar/compare/389712adb091b2f011574303e96fc837af4e49f6...3f62a1ffadedfb2d85a988c5730d3bbf34f6a2fc you broke the APR calculator on the staking view.

Crashes on https://github.com/ubiquity/ubiquity-dollar/blob/development/packages/dapp/components/staking/DepositShare.tsx#L19

<img width="832" alt="Screen Shot 2022-09-12 at 14 49 28" src="https

[2022-09-12 17:14] pavlovcik opened #256 "Security CI"
I was looking at the CI of other projects and realized that we can probably just use the same configs.

1. [Slither CI - Origin](https://github.com/OriginProtocol/origin-dollar/blob/master/.github/workflows/slither.yml)
2. [Echidna CI - Uniswap](https://github.com/Uniswap/v3-core/blob/main/.github/workflows/fuzz-testing.yml)
3. [MythX CI - Uniswap](https://github.com/Uniswap/v3-core/blob/main/.git

[2022-09-12 17:17] 0x4007 opened #257 "UI Test CI"
Depends on https://github.com/ubiquity/ubiquity-dollar/issues/833

We should prepare UI smoke tests that check that there are no console errors when a new page is opened.

As a part of this issue we should create a new github workflow that runs UI smoke tests (using https://github.com/ubiquity/scraper-kernel) that check that there are no console errors when the following web pages are opened:
1. H

[2022-09-14 00:34] pavlovcik opened #259 "TWAP Oracle needs to determine peg (track $1.00 USD accurately)"
This needs more research but currently our TWAP oracle tracks 3crv, which currently is trading ~$1.02. The net effect of this is that our dollar thinks that our peg is ~$1.02 (1:1 match)

The `consult` method in the oracle contract needs to be updated to actually track $1.00. Off hand and without research, there's several approaches we can take for this:
1. We can based off of ether's price (chain

[2022-09-16 09:19] 0xcodercrane opened #262 "Where can I track the progress of the foundry conversion task?"
## Problems to solve

https://github.com/ubiquity/ubiquity-dollar/issues/206

## Scope of work.
The full scope of work has been already posted here https://github.com/ubiquity/ubiquity-dollar/issues/206#issuecomment-1193311799 by @pavlovcik

[2022-09-16 09:35] 0xcodercrane commented on #262
duplicated

[2022-09-16 09:35] #262 closed

[2022-09-16 14:24] #161 closed

[2022-09-19 16:07] sergfeldman opened #263 "Build the UI for Concave bonds smart contracts "
- UI must be connected to the Сoncave implementation of Ubiquity bonds
- Replace the content on the current bonds page

[2022-09-19 16:11] sergfeldman opened #264 "Create UBQ bonding curve to burn UBQ and mint NFTs"
- Create the UBQ bonding curve smart contract (fork)
- Update UI component
- Implement the logic "Buy with any token"
1. Get the tokens that the user has
2. Exchange to UBQ
3. Send UBQ to bonding curve contract (effectively burning it)
4  Mint UbiquiStick NFT
5. Transfer the UbiquiStick NFT to the buyer

[2022-09-19 16:13] sergfeldman opened #265 "Redeploy NFT contracts to include metadata updating"
- Code is ready
- Merge this repo to the monorepo
https://github.com/ubiquity/the-ubiquity-stick
- Check with Alain - this might be a small task for Alex

[2022-09-19 16:15] sergfeldman opened #266 "Set up super.so for dao.ubq.fi and blog.ubq.fi"
- Use the pricing plan Upgraded site https://super.so/pricing

[2022-09-22 02:26] 0xcodercrane opened #269 "Unit tests conversion in Foundry"
## Problem
We're converting the smart contract packages from hardhat to foundry. Its being tracked [here](https://github.com/ubiquity/ubiquity-dollar/pull/261).  Unit tests conversion is the largest remaining part and its already being handled by @0xcodercrane.
But to do that conversion faster, we're gonna break into small ones.

## What should I do?

You need to create fuzz tests for the followin

[2022-09-26 12:40] codeawayaks commented on #264
You can assign this to me.

[2022-09-26 12:41] codeawayaks commented on #263
You can assign this to me.

[2022-09-26 12:41] codeawayaks commented on #257
You can assign this to me.

[2022-09-26 12:41] codeawayaks commented on #252
You can assign this to me.

[2022-09-26 12:41] codeawayaks commented on #243
You can assign this to me.

[2022-09-26 12:42] codeawayaks commented on #225
You can assign this to me.

[2022-09-26 12:42] codeawayaks commented on #215
You can assign this to me.

[2022-09-26 12:42] codeawayaks commented on #213
You can assign this to me.

[2022-09-26 12:43] codeawayaks commented on #213
You can assign this to me.

[2022-09-26 12:43] codeawayaks commented on #209
You can assign this to me.

[2022-09-26 12:43] codeawayaks commented on #193
You can assign this to me.

[2022-09-26 12:44] codeawayaks commented on #177
You can assign this to me.

[2022-09-26 12:44] codeawayaks commented on #170
You can assign this to me.

[2022-09-26 12:44] codeawayaks commented on #167
You can assign this to me.

[2022-09-26 12:45] codeawayaks commented on #164
You can assign this to me.

[2022-09-26 12:45] codeawayaks commented on #96
You can assign this to me.

[2022-09-26 12:45] codeawayaks commented on #103
You can assign this to me.

[2022-09-26 12:45] codeawayaks commented on #46
You can assign this to me.

[2022-09-26 12:46] codeawayaks commented on #38
You can assign this to me.

[2022-09-26 12:46] codeawayaks commented on #115
You can assign this to me.

[2022-09-26 12:46] codeawayaks commented on #115
You can assign this to me.

[2022-09-26 12:46] codeawayaks commented on #116
You can assign this to me.

[2022-09-26 12:47] codeawayaks commented on #19
You can assign this to me.

[2022-09-26 12:47] codeawayaks commented on #14
You can assign this to me.

[2022-09-27 18:56] codeawayaks commented on #263
Hi Serg,

We are a company. We have multiple devs. We can take more than one. That’s
the reason, I asked for many. If that’s a problem, can you assign a
significantly bigger bounty to us.

Regards,
Amit

On Wed, 28 Sep 2022 at 12:18 AM, Serg Feldman ***@***.***>
wrote:

--

Regards,
Amit Kumar
CEO
https://spirinova.dev

[2022-09-27 21:23] sergfeldman commented on #263
@codeawayaks At the moment this Bounty System is for individual developers - Web3 enthusiasts.
As a company, you can send the proposal with your prices to ser@ubq.fi

[2022-10-04 03:57] #253 closed

[2022-10-06 05:39] sergfeldman opened #276 "Calculation issue with the bonding shares during the migration"
アレクサンダー.eth | U B I Q U I T Y:
A bit off topic but we had a calculation issue with the bonding shares that were migrated. Me and several others received far less credit for pool ownership than we deserve. This is a big issue we need solved by 2025 (four year lockup)

We couldn’t diagnose where the miscalculation in the contract code took place (perhaps it was the snapshot data for the migration?)

[2022-10-06 08:35] pavlovcik opened #280 "uCR-NFT Cashback UI should be the same as uCR Cashback UI"
<img width="377" alt="image" src="https://user-images.githubusercontent.com/4975670/194260211-87ef3f8f-1d3f-42dc-8233-a8371a74ff89.png">

Also what does the white dropdown $1.00232 mean? Update: its the uCR-NFT but this should be visible when above peg. Also should not be prefixed with "$" unless it includes the spot price calculation of uAD

[2022-10-07 04:42] pavlovcik opened #282 "Import `@Uniswap/smart-order-router` to accurately predict uCR cash out amounts"
Im reading this now. The return value looks familiar.

 https://github.com/Uniswap/smart-order-router

Probably a bad idea but the first thing that comes to mind is to browserify (this transpiler exists) the node project. We could make a separate Git fork that handles this and import the submodule into the component that needs it.

That would probably have to be a new bounty because that seems lik

[2022-10-08 14:25] pavlovcik opened #283 "DAI Missing on Inventory"
This wallet has plenty of DAI in it but for some reason it isn't showing. Make sure that the inventory shows DAI and USDT!

<img width="938" alt="image" src="https://user-images.githubusercontent.com/4975670/194712350-91f72a75-0878-4994-89b8-016b32cfbe47.png">

[2022-10-08 15:40] #269 closed

[2022-10-11 01:47] 0xcodercrane opened #284 "Upgrade smart contracts to resolve well-known vulnerabilities."
## Problem
Once we have slither integrated into the github ci/cd, it has picked up lots of well-known vulnerabilities.
This will absolutely block us to become a stable product.

## Reference
https://github.com/ubiquity/ubiquity-dollar/actions/runs/3216583130/jobs/5258613067

[2022-10-12 16:44] mastercodechef commented on #283
![image](https://user-images.githubusercontent.com/102959685/195400918-5597a705-d5d5-4bfd-9f5e-ff27c4957ee0.png)

[2022-10-12 17:02] pavlovcik opened #287 "Cross-platform installation & setup instructions in README"
Once the Foundry conversion is done, the README should clearly explain how to start the project for macOS, Windows, and Ubuntu. This is a just a small note I'm leaving here so that it's not forgotten about!

[2022-10-13 19:52] #283 closed

[2022-10-13 21:25] 0x4007 opened #290 "Display Commit Hash and semver on UI"
The `main` branch needs to be manually updated on occasion. This shouldn't be automated because we (especially me) should review all the code changes to look for rugs before hosting on our main website.

To serve as a reminder, it will probably be wise to display a version number, which can be clicked to see the commit that's deployed. It will be easy to see how far the code is out of date for wit

[2022-10-14 01:23] cuddle-dev commented on #290
we should actually do versioning system so once we released a new version it needs to get merged into main.  but agree with exposing commit hash right now. To do that, need to update ci/cd.

[2022-10-14 01:34] cuddle-dev commented on #282
`npm run build` should generate types for each package. Anyway I tried locally on macOS but 3 commands (npm, npm run build, npm run test) were successful.  but it should also work on ubuntu latest. Their github workflow is the proof of its working.

@pavlovcik  @sunny0714

[2022-10-14 02:28] 0xautohub commented on #282
@0xcodercrane Thanks for your try. Yeah, I have already found it at that time. I used yarn, so when installing packages, package-lock.json was not reflected.
I have almost finished this feature, going to finish by today or tomorrow

[2022-10-15 08:03] 0xautohub commented on #282
Hey @pavlovcik @0xcodercrane The uCR cash out amount is being shown accurately on [this commit](https://github.com/ubiquity/ubiquity-dollar/pull/279/commits/d8237b778c83727dd9078ece8eb87389b2ef7d5b)
Fortunately, smart order router is not using tenderly for integration
Please review it when you are available

[2022-10-15 13:45] 0xautohub commented on #282
Uniswap widget was reflected on [this commit](https://github.com/ubiquity/ubiquity-dollar/pull/279/commits/55d8166e87f3dd78e687fd7a40800eb0aa40c324)

[2022-10-16 13:50] DevSCNinja commented on #263
Is this still available or already assigned to anybody else?

[2022-10-16 15:05] sergfeldman commented on #263
@DevSCNinja This bounty is available. It is quite a complex task that requires coordination with a few developers.

At the moment, I am not ready to assign it to you.
Please, try to effectively solve bounties with 100 USDC price.

[2022-10-16 15:31] DevSCNinja commented on #263
Ok @sergfeldman.
By the way this 100 USDC bounty https://github.com/ubiquity/ubiquity-dollar/issues/283 is solved with me.
What do you think of it?

[2022-10-16 16:16] trydev0303 commented on #263
Hi @sergfeldman.
This 100 USDC bounty https://github.com/ubiquity/ubiquity-dollar/issues/283 was solved with me.
What do you think of it?

[2022-10-16 16:19] DevSCNinja commented on #263
Hey @sergfeldman, this https://github.com/ubiquity/ubiquity-dollar/issues/164 is the only 100$ bounty.
And other bounties are more than 200$ and I am not sure if you are ready or not.
Please help me and I will try my best to solve it.

[2022-10-16 16:39] sergfeldman commented on #263
@DevSCNinja @mastercodechef As I understand these 2 GitHub accounts belong to the same person.

My thoughts about the #283
- The initial project setup was done only after the help from other developers.
- A pull request with a correct solution to the issue was not provided by you. It turned out that the issue was solved earlier by another developer.

[2022-10-17 01:53] cuddle-dev commented on #287
updated readme for the workspace and contract package here: https://github.com/ubiquity/ubiquity-dollar/commit/b244938f0718bb14d5b7f9219d139d13cf046ba7b

[2022-10-17 01:58] cuddle-dev commented on #284
we created a fix-slither branch which contains slither ci/cd. if you wanna hop in this issue, you need to rebase from fix-slither branch.

[2022-10-17 05:26] DevSCNinja commented on #263
It would not have turned out unless my contribution.

[2022-10-17 05:28] DevSCNinja commented on #164
Hey @sergfeldman, are you ready to assign this issue to me?

[2022-10-17 07:23] codeawayaks commented on #183
Please assign this to me.

[2022-10-17 07:48] sergfeldman commented on #164
@pavlovcik Please check that this issue has not been solved before.

[2022-10-17 08:02] 0x4007 commented on #282
We should always be using `yarn` why are you @0xcodercrane talking about `npm`? Otherwise, then we have issues with the lockfile as @sunny0714 mentioned

[2022-10-17 08:36] 0x4007 commented on #280
Bad news is that it looks like we're going with a Uniswap widget which is designed for fungible tokens. To make the uCR-NFT cashback UI match will be a steeper challenge. I plan to personally dive in and customize the Uniswap widget to look less Uniswap-y. Once I do that, I imagine we'll have a more clear idea of exactly what needs to be done for this (#280) issue

[2022-10-17 09:08] 0x4007 commented on #287
404 - not found

[2022-10-17 09:23] 0x4007 commented on #164
Looks like I solved it already - sorry for missing closing this issue.

<img width="870" alt="Screen Shot 2022-10-17 at 17 21 39" src="https://user-images.githubusercontent.com/4975670/196140746-330c0b12-6d21-4162-87a4-84929b0a6bc9.png">

[2022-10-17 09:23] #164 closed

[2022-10-17 11:40] sergfeldman commented on #183
@codeawayaks Hi. As you can see in the assignee and comments on this issue, it is not available.

The first time you wrote requests in more than 20 tasks, and after that, you didn’t answer which one you wanted to take.
This is the second time you've posted an irrelevant request for the bounty.

Unfortunately, this looks like spam, so we will block your ability to comment for the upcoming 30 days.

[2022-10-17 14:45] cuddle-dev opened #291 "Make echidna working"
### Problem

Echidna ci/cd script looks great but what we want here is to get the script working for even 1 ~ 2 solidity files.
So we want to make the echidna script working for both BondingV2.sol and BondingShareV2.sol

### Acceptance Criteria
- [ ] Create echidna.yml in github workflow for BondingV2.sol and BondingShareV2.sol
- [ ] The echidna script should be able to catch up the possible error

[2022-10-17 18:43] 0x4007 opened #292 "Renaming Contracts to Reflect Current Product Names"
TODO: need to make a proper checklist but this is a placeholder issue that I will fill out at a later date.

We updated the branding on several products, including Bonding -> Staking; Ubiquity Auto Redeem -> Ubiquity Credit; and more. Currently they are only reflected in the UI but we should update the contracts to reflect the updated names.

***

        I understand your concern about renaming.

[2022-10-18 06:12] DevSCNinja commented on #213
Hi @sergfeldman, are you ready to assign this issue to me?

[2022-10-18 08:22] 0x4007 opened #294 "Deploy Scripts Refactoring"
I see a lot of repetitive logic, I would consider making a utility function to handle every instance. For example, I imagine you could generate the `contractInstance` value by passing in `__filename` into this utility function. To clarify, this isn't a blocker; we can definitely merge without clean deploy scripts but its just something that I personally would have done.

_Originally posted by @pav

[2022-10-18 08:24] 0x4007 commented on #294
Consider this a really low priority issue. I was on the fence about creating the bounty at all but decided why not just leave it here for a rainy day.

[2022-10-18 13:39] 0xautohub commented on #225
Hey @pavlovcik I have implemented this as follows
1. When below peg, allow users to swap uCR for uAD/USDC/USDT/DAI etc by using Uniswap swap widget
2. When above peg, allow users to swap uCR for uAD by using DebtCouponManager contract. And then swap uAD for USDC/USDT/DAI by using swap widget
 - when users try to swap uCR for uAD, the ui will only show the expected uAD amout by using Uniswap router

[2022-10-18 14:50] 0x4007 commented on #225
1. I found a code example below. As I mentioned, just calling the contract directly using Ethers should be straightforward.
2. I don't understand why we must call swap on every pool. We should only be performing two transactions: uCR redemption, and a uCR->XXX swap

[code]

[2022-10-18 14:58] 0xautohub commented on #225
Nice example, will look at it more carefully. Nice comment 👍

[2022-10-18 15:06] 0xautohub commented on #225
Two transactions are uCR -> uAD, and uAD->XXX swap, right?

[2022-10-18 15:21] 0xautohub commented on #225
Will you share the example link?

[2022-10-18 15:22] 0x4007 commented on #225
I don't understand what you're expecting. What's not clear?

[2022-10-18 15:24] 0xautohub commented on #225
Not sure which function I should call to swap with router address related to pool or 2 tokens

[2022-10-18 15:28] 0xautohub commented on #225
Guessing that Trade entity in uniswap/v3-sdk package can be used, but exact implementation example might help me a lot

[2022-10-18 15:34] 0xautohub commented on #225
Directly calling the methods on router contract might work?

[2022-10-18 15:38] 0xautohub commented on #225
I'm going to look at the Uniswap router contract and sdks carefully, if you @pavlovcik have a clear function call with params for swap, please update me

[2022-10-18 19:42] 0xautohub commented on #225
@pavlovcik Implemented swap function when above peg by referencing Uniswap doc. But I couldn't test and only checked the code because it's a real transaction. Hope you to review the code and test it on your side

[2022-10-18 20:33] 0x4007 commented on #225
Like we discussed before, if you have blockers that cost gas fees; just ask for a budget approval ahead of time. I'll add $50 to your bounty to reimburse gas fees.

[2022-10-18 20:44] 0xautohub commented on #225
Okay. can you send some ETH for test now?

[2022-10-18 20:46] 0x4007 commented on #225
This would be paid in a single transaction, in USDC, upon the bounty completion. For now, sure I can send the ETH to your wallet address (please provide your address) but not again in the future as it makes accounting more complex than it needs to be.

[2022-10-18 20:47] 0xautohub commented on #225
Yeah, understand, now I don't have any eth in my wallet. so.. :)
0xc6fa133f3290e14Ad91C7449f8D8101A6f894E25

[2022-10-18 20:48] 0x4007 commented on #225
https://etherscan.io/tx/0x7ff0e5fa2faf4770bcfc220a19a5927ee016eaf8970ce5e63ebffb3d0eb7f156

[2022-10-18 20:59] 0xautohub commented on #225
@pavlovcik I can't redeem uCR for uAD because now below peg :(
![image](https://user-images.githubusercontent.com/5579669/196543939-87782eb4-9caf-4b66-97dd-c1e3d17bfee4.png)

[2022-10-18 21:00] 0x4007 commented on #225
Let me manipulate the price... I need a few minutes

[2022-10-18 21:05] 0x4007 commented on #225
Unfortunately there is a blocking UI issue with crv.to so I need to figure out another UI for swapping on the metapools.

[2022-10-18 21:09] 0xautohub commented on #225
Oh.. sad story. hope it will be handled quickly

[2022-10-18 21:16] 0x4007 opened #295 "Migrate to V3 Metapool"
crv.to is down and I can no longer find a swap UI for a v2 metapool that is currently functional. It appears that curve.fi dynamically can generate v3 metapool swap UIs, so this is a sound reason to migrate to a v3 pool officially.

Here's the v3 pool (with no liquidity) I deployed some time ago: https://curve.fi/factory/124

        Unfortunately there is a blocking UI issue with crv.to so I need

[2022-10-18 21:26] 0xautohub commented on #295
crv.to is up on my browser, any function is not working?

[2022-10-18 21:28] 0x4007 commented on #295
Try swapping DAI -> uAD. It won't read my balances, so I can't initiate the swap.

[2022-10-18 21:30] 0x4007 commented on #225
For now, unfortunately, the only other possibility to test now would be if you use Tenderly/Foundry to fork the network, see if you can impersonate a swap to the v2 Metapool (`0x20955CB69Ae1515962177D164dfC9522feef567E`) from ubq.eth to jack up the price on uAD. Then see if the uCR->uAD redemption works. If its too difficult to set up, we can pause this issue until we figure a UI workaround for cr

[2022-10-18 21:32] 0xautohub commented on #295
I can't test DAI because I don't have any DAI balance, but it's reading my eth balance

[2022-10-18 21:34] 0x4007 commented on #295
Doesn't work
<img width="469" alt="image" src="https://user-images.githubusercontent.com/4975670/196549222-02fe3f85-cc41-45af-9515-a6adf26f0354.png">
<img width="783" alt="Screen Shot 2022-10-19 at 05 34 36" src="https://user-images.githubusercontent.com/4975670/196549286-44aab597-37b5-4cf9-8180-bdf9b504fc55.png">

[2022-10-18 21:39] 0xautohub commented on #295
No, it doesn't work

[2022-10-18 21:43] 0x4007 commented on #225
I think I generated my calldata ```0xa6417ed60000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000021e19e0c9bab240000000000000000000000000000000000000000000000000021674aed40640400000``` which should be 10k DAI -> (at least 9858.969226038560130000) uAD

Do you know a UI I can use t

[2022-10-18 21:46] 0xautohub commented on #225
Sorry, but I don't know

[2022-10-18 21:54] 0x4007 commented on #225
Injecting code in my console on etherscan which allows me to use
[code]

Swap simulation successful [on tenderly](https://dashboard.tenderly.co/pavlovcik/ubiquity-algorithmic-dollar/simulator/168ab552-af9b-43c7-888a-fdc53da693ab)

I asked "consulted" the TWAP oracle [on the simulation fork](https://dashboard.tenderly.co/pavlovcik/ubiquity-algorithmic-dollar/fork/cb34d553-222c-44ef-bfa1-5c79065f3e9

[2022-10-18 22:17] 0x4007 commented on #225
@0xcodercrane could use your help for updating the TWAP on the simulation. I'm going through all the stack traces now and I'm stuck and about to end my work day.

[2022-10-18 22:38] 0xautohub commented on #225
Okay

[2022-10-19 09:15] 0x4007 commented on #295
The MetaRegistry seems useful to mention here

https://twitter.com/curvecap/status/1582389012760735745?s=46&t=NRd0c00BKUcLnpJVOK_BOw

https://curve.substack.com/p/october-18-2022-how-meta?utm_campaign=10-18-22

https://etherscan.io/address/0xF98B45FA17DE75FB1aD0e7aFD971b0ca00e379fC#code

https://github.com/curvefi/metaregistry

[2022-10-19 13:02] 0x4007 commented on #193
How about connecting to Tenderly forks via an RPC? That could be very useful in a pinch

![image](https://user-images.githubusercontent.com/4975670/196698092-24428762-3ba2-48f9-a25e-d9f4782d451f.png)

[2022-10-19 23:19] 0x4007 commented on #225
I got word back on how to test @sunny0714 code. @0xcodercrane you think you can handle this today?

@zgorizzo69

[2022-10-19 23:20] pavlovcik commented on #225
https://t.me/c/1588400061/524

[2022-10-20 01:21] cuddle-dev commented on #225
yeah i will handle this stuff today

[2022-10-20 05:05] cuddle-dev opened #296 "Setup staging environment"
## Problems

The dapp just interacts with mainnet contracts which will block us to test contracts interaction bc it requires real ETH.
If we can get needed contracts deployed on testnets(goerli, optimism goerli, etc) and make the dapp working on the chains configured, we will not be blocked by the gas consumption.

## Steps to do that

- [ ] Deploy smart contracts on testnet
- [ ] Update frontend

[2022-10-20 12:22] 0x4007 commented on #282
I discussed with @sunny0714 and he makes a claim about how both bounties are done. I discussed with the @ubiquity/bounty-masters and there was pushback on releasing both bounties because we are unable to test the cash out UI flow (many related systems seem to have broken @0xcodercrane hopefully you have updates on the workaround)

But this router seems to work and I think it's fine to consider thi

[2022-10-20 12:35] 0xautohub commented on #282
okay @pavlovcik thanks
Here is my wallet address
0xc6fa133f3290e14Ad91C7449f8D8101A6f894E25

[2022-10-20 13:43] sergfeldman opened #297 "Test Ubiquity Credit (uCR) Cash Out UI"
## Problem

We have a blocker to test https://github.com/ubiquity/ubiquity-dollar/pull/279 because our system is sort of broken right now.

assigned to core team

[2022-10-20 14:00] 0xcodercrane commented on #282
We have been struggling to test the cashout UI but unfortunately no way so far.  its really difficult without fixing our broken system but codebase looks good, router seems to work properly.

We appreciate doing good job @sunny0714. Right now we are unable to test because of the blocker. but we want to trust it will absolutely work once we resolve our blocker, but in worse case (e.g. not working),

[2022-10-20 14:02] cuddle-dev commented on #282
We have been struggling to test the cashout UI but unfortunately no way so far. its really difficult without fixing our broken system but codebase looks good, router seems to work properly.

We appreciate doing good job @sunny0714. Right now we are unable to test because of the blocker. but we want to trust it will absolutely work once we resolve our blocker, but in worse case (e.g. not working),

[2022-10-20 14:03] 0xautohub commented on #282
Yeah, thanks for saying so @0xcodercrane
I will definitely fix issues if there are any problems

[2022-10-20 14:04] cuddle-dev commented on #282
We will appreciate it! I will merge your pull request

[2022-10-20 17:52] 0xcodercrane opened #299 "TwapOracle doesn't reflect the spot price"
The problem with twaporalce we've already experienced is that it couldn't reflect the spot price even if we call `update` function manually.

Originally discussed in group chat.

[2022-10-20 19:21] sergfeldman commented on #282
@sunny0714 Thank you for the completed bounty
https://etherscan.io/tx/0xdd2ef921a5e7272bb379adc12b259a924ffc7f92570686642208bb8a272cd22e

[2022-10-20 19:43] hashedMae commented on #299
It gets the Time Weighted Average Price (TWAP) which is different from spot price. A feature for getting spot price would be best suited for a contract separate from TWAPOracle to avoid confusion.

[2022-10-20 20:14] hashedMae commented on #284
Summary of tasks/errors

- [ ] ABDKMath should be installed like the other Foundry libraries since it's not a library we maintain.
- [ ] Some of the unused local variables can likely just be removed and others might of been missed in implementation (the ones within tests and mocks)
- [ ] Lots of not following style guide for naming
- [ ] Changing contracts to use a consistent version and not `^0.x

[2022-10-21 03:15] 0xcodercrane commented on #299
What I mean by `reflect the spot price` is that `current balances` is not included in the math. TWAP price is absolutely different from spot price.
To get the spot price, we can simply call `get_virtual_price `of `MetaPool`.
Thanks for your consideration @hashedMae . Right now we built the twapOracle on top of curve twap theory.

[2022-10-22 05:24] 0x4007 commented on #282
In the future @sergfeldman please be sure to
1. Include any applicable UBQ bonuses according to the calculations [listed here](https://github.com/ubiquity/ubiquity-dollar/wiki/Bounty-Compensation).
2. Close the issue

Update: looks like it took two weeks to finish this bounty, so there are no applicable UBQ bonuses!

[2022-10-22 06:08] pavlovcik commented on #299
Sorry but the purpose of this issue isn't clear to me then. As @hashedMae says, the TWAPOracle.sol contract shouldn't deal with spot price.

As @0xcodercrane says, the metapool shares the spot price (we already get both TWAP and spot prices on our [dashboard](https://uad.ubq.fi))

What is the benefit of including the spot price on the TWAP oracle?

[2022-10-22 06:14] 0x4007 commented on #284
Speaking of naming, as I mentioned to @0xcodercrane before, I would like to update all of the product names to reduce ambiguity (for example the Bonding contract should be called Staking.)

The biggest technical hurdle I see for the rename/redeploy of these contracts would be the user funds in Bonding contract. We would need to do a migration. I'm curious to know how complex the migration would be

[2022-10-22 06:31] 0x4007 commented on #296
We already have several issues for this. Let's make the custom private testnet instead of deploying to public testnets. If for some reason we can't figure out how to make the private testnet work, then we can fall back to these options.

#209 #193

[2022-10-22 06:31] #296 closed, assigned to nobody

[2022-10-22 06:50] 0x4007 opened #300 "Upgrade `UbiquityAlgorithmicDollarManager.sol` to ERC2535 Diamond Standard"
We have limited slots to associate contracts with our protocol on the current Manager implementation. The Diamond Standard seems to be a useful architecture for our protocol as we continue to plan to build an ecosystem around our dollar.

This project would require the smart contract implementation, associated tests, and finally a redeployment.

As of this moment it is not clear if we must redeplo

[2022-10-22 09:59] cuddle-dev commented on #292
Would you make a todo list for renaming contracts?

[2022-10-22 10:04] sergfeldman commented on #282
Note for the future.

This issue has not a usual resolution.
The bounty considered as completed, but the issue is not tested.

The dedicated issue for testing is created
https://github.com/ubiquity/ubiquity-dollar/issues/297

This issue is closed.

[2022-10-22 10:04] #282 closed

[2022-10-22 10:19] 0xcodercrane commented on #299
If I clarify about `spot price`

1/ The spot price @0xcodercrane  was saying is `current balances`, which isn't actual spot price.
2/ The spot price @hashedMae was saying is the actual spot price we can get from `MetaPool` directly

[2022-10-24 00:45] 0x4007 commented on #292
- [ ] BondingFormulas.sol ⮕ StakingFormulas.sol
- [ ] BondingShareV2.sol ⮕ StakingShare.sol
- [ ] BondingV2.sol ⮕ Staking.sol
- [ ] CouponsForDollarsCalculator.sol ⮕ CreditNFTRedemptionCalculator.sol
- [ ] CurveUADIncentive.sol ⮕ transfer-hooks/dollar3pool.sol
- [ ] DebtCoupon.sol ⮕ CreditNFT.sol
- [ ] DebtCouponManager.sol ⮕  CreditNFTManager.sol
- [ ] DollarMintingCalculator.sol ⮕ DollarMintCalc

[2022-10-24 00:59] 0x4007 commented on #292
This is off topic and I just wanted to put it here to not forget to briefly discuss, but I believe that upgrading this contract to the Diamond Standard might be appropriate for the same reason I proposed #300

[2022-10-24 01:09] 0x4007 commented on #282
Technically, the Uniswap router does apparently work (it displays the estimated swap values already in the UI) the other issue is what needs testing as there is functionality dependent on those numbers returned by the router.

[2022-10-24 01:22] pavlovcik commented on #299
Current balances, I presume, can be queried from the metapool contract. Why would you make a copy of this logic on the TWAPOracle?

[2022-10-24 01:30] 0xcodercrane commented on #299
I don't think I understand you're saying. can you clarify which logic we're copying?

Our twaporacle has been implemented as described in curve twap oracle theory.
Based on curve theory, we need 2 balances map (first balances and last balances) and time duration.
Right now, we don't use current balances for last balances which is also recommended by curve.

[2022-10-24 01:58] pavlovcik commented on #299
So the TWAPOracle is incorrectly implemented as of now?

[2022-10-24 02:03] 0xcodercrane commented on #299
Thats correctly implemented based on curve twap theory.

[2022-10-24 02:03] #299 closed

[2022-10-24 03:20] #206 closed

[2022-10-24 03:21] 0x4007 commented on #206
@0xcodercrane can you post your DAI address here?

[2022-10-24 03:22] cuddle-dev commented on #287
that was done in foundry-conversion branch. we can't see it anymore because the branch got deleted

[2022-10-24 03:24] cuddle-dev commented on #206
0x00868BB3BA2B36316c2fc42E4aFB6D4246b77E46

[2022-10-24 03:24] 0x4007 commented on #287
It was not found seven days ago. Besides, just because a branch was deleted doesn't mean that the commit is deleted. The commit is merged in with the branch.

[2022-10-24 03:25] 0x4007 commented on #206
https://etherscan.io/tx/0x12ff5dab4c27bfd23a27b776910e13f04677e57fbc0dfeeecf78978e241b26b6 🙌

[2022-10-24 03:26] cuddle-dev commented on #287
hmm interesting. Let me double check

[2022-10-24 03:28] 0x4007 commented on #287
Manually looking at the README, it appears that the only incorrect section is referring to the mnemonic that you and I had a conversation around. Either you should restore the original one, or you should update the five private keys generated from the new mnemonic in the readme for developer convenience.

See https://github.com/ubiquity/ubiquity-dollar#metamask-development-wallet-setup

[2022-10-24 11:50] pwilson77 commented on #257
hi sorry for the late response, so am basically just organizing the test logic or?

[2022-10-24 17:55] hashedMae commented on #284
I'm going to put my estimate at 100 hours over 3 weeks for 5000 USDC. I can track my hours and provide weekly updates on progress. Plan is to tackle the simplest issues first, that way if any blockers come up, they'll be later in the process and less likely to impede other issues (ie. Changing solidity version and CEI patterns will come last)

[2022-10-24 18:16] 0x4007 commented on #257
I'm going to try and merge the kernel with the initial tests so I'm taking this bounty from the pool.

[2022-10-24 18:24] 0x4007 commented on #284
@0xcodercrane lets connect later today to verify the spec together before we continue the conversation

[2022-10-25 02:28] hashedMae commented on #276
Ran sims and found that the shares between V1 and V2 after migration were identical https://github.com/hashedMae/v2Investigate
![Screenshot from 2022-10-24 19-13-55](https://user-images.githubusercontent.com/84989694/197667746-ec7ab7b7-9d17-422f-8b59-54116a986fd5.png)

[2022-10-25 18:12] cuddle-dev commented on #284
@hashedMae  I will keep you updated what is necessary/unnecessary. so we want to cut out some items from the list you created.

[2022-10-25 18:15] hashedMae commented on #284
The solidity versioning and CEI patterns are the two most important and also the largest tasks that will take up the majority of the time.

[2022-10-25 18:48] cuddle-dev commented on #284
thats what I am working right now.

https://github.com/ubiquity/ubiquity-dollar/pull/302/commits/29300d86a45d2ff71b12154a36634a320a0aaa92
this is the final commit I pushed. you can reestimate everything and take this issue over. @hashedMae

[2022-10-25 20:12] hashedMae commented on #284
I think I can get the rest done for $3000 USDC within two weeks

[2022-10-26 00:40] 0x4007 opened #306 "UbiquiCard"
# Ubiquity Card

![Image](https://user-images.githubusercontent.com/4975670/196578548-8bea6201-df66-44a9-b7ef-65328de3840b.png)

Low priority, but I'm very curious about how easy it is to launch a card (Visa claims its pretty easy.) I would be really keen to use it myself, so I'm sure over time after adding enough features I would personally want, we could probably commercialize it. In the near-to

[2022-10-26 00:40] #306 closed, assigned to 0x4007

[2022-10-26 15:16] cuddle-dev commented on #284
Could you do this for $2000 within two weeks? I think I already made it much less than before and we don't want to spend like that because this isn't either urgent or critical.

[2022-10-26 15:34] hashedMae commented on #284
It’s still throwing quite a few reentry warnings cause of CEI patterns which will take a bit of re-engineering to correct

On Wed, Oct 26, 2022 at 8:16 AM, 0xCodercrane ***@***.***> wrote:

[2022-10-26 21:37] 0x4007 commented on #209
One possibility:

1. Start Anvil
2. Use ngrok to tunnel the port and expose to a public IP

https://twitter.com/fiveoutofnine/status/1583501045225107461?s=46&t=qb_SISQVHNsKvXCWKhqhwA

[2022-10-26 22:52] nshmadhani commented on #209
I thought of this but the issue was that for github actions. You cannot run commands in parallel. Once anvil is started, starting a tunnel is difficult. you would need to somehow run this in parallel. Also, sending data back from the github actions is not well documented.

Just posting this incase, if someone tries it out.

[2022-10-26 22:54] 0x4007 commented on #209
Why not just append `&` to daemonize the process?

[2022-10-27 03:26] pwilson77 commented on #170
Hi I could take a look at this

[2022-10-27 04:07] 0x4007 commented on #170
Sounds good. You're authorized to proceed.

[2022-10-28 00:40] 0x4007 opened #308 "Setup Docker (Foundry Image) for CI"
# Background

I believe that we shouldn't be committing all of this metadata. Otherwise it makes PR reviews very tedious, having to sift through hundreds of changed files every time theres a small update.

A proposed solution is to install Foundry on CI so that this metadata can be generated locally on the runner, instead of reading from the repository.

_Originally posted by @pavlovcik in https:/

[2022-10-28 00:43] 0x4007 commented on #284
My intuition is that we should settle in the middle, at $2500, in order to unblock @hashedMae from beginning.

[2022-10-28 02:24] 0x4007 commented on #308
You can setup a GitHub Action to use a Docker container (vs a Javascript action)

https://docs.github.com/en/actions/creating-actions/about-custom-actions#docker-container-actions

Here's Foundry's Docker container, from https://github.com/gakonst/foundry/pkgs/container/foundry

[code]

[2022-10-28 04:16] 0xautohub commented on #300
Hey @pavlovcik @sergfeldman I'm really interested in ERC-2535 standard implementation
So I would like to work on this issue

[2022-10-28 04:19] 0x4007 commented on #300
Okay great you're authorized to proceed!

[2022-10-28 10:25] sergfeldman commented on #300
@sunny0714 This task has not yet been offered for the Bounty System and the amount of payment has not yet been determined.
Before you start this task, please bid - suggest the amount of payment and the timeframe for which you want to complete it.
After that, we will approve or negotiate the amount of payment.

[2022-10-28 10:27] pavlovcik commented on #300
The parameters are set I just didn't look up the prices.

[2022-10-28 10:29] 0x4007 commented on #300
All set @sergfeldman

# Specification

- [ ] smart contract implementation
- [ ] unit tests
- [ ] redeployment script
- [ ] redeployment

Please be mindful of our access control system (the minter/burner roles) I believe that they are managed by the old manager! @zgorizzo69 if you have any remarks please feel free to add here.

[2022-10-30 14:30] pwilson77 commented on #170
Hi I have got some questions
1. Can I get the name of the NFT smart contract
2. Also the address NFT contract on etherscan

[2022-10-30 15:39] sergfeldman commented on #170
@pwilson77 Hi, please review the documentation
https://github.com/ubiquity/ubiquity-dollar/wiki/18.-Smart-Contracts

[2022-10-30 16:22] pwilson77 commented on #170
Found it thanks, I believe its ERC1155Ubiquity.sol right?

[2022-10-30 19:09] sergfeldman commented on #170
@pavlovcik Please, check whether this is a right smart contract for this issue

[2022-10-30 21:49] zgorizzo69 commented on #300
@sunny0714 which diamond implementation have you selected for the manager?

[2022-10-31 02:19] 0x4007 commented on #170
I linked the OpenSea page because it shows the contract there.

https://etherscan.io/address/0x2da07859613c14f6f05c97efe37b9b4f212b5ef5#code
https://github.com/ubiquity/uad-contracts/blob/main/contracts/BondingShareV2.sol

[2022-10-31 03:39] cuddle-dev commented on #284
ok @hashedMae seems kind of busy recently and would be more busy for chicken bond implementation in the future. let me continue this bounty.

[2022-10-31 07:35] zgorizzo69 commented on #300
We should consider
- adding script to upgrade facet
- having a test that will run all the existing tests with an upgraded facet. This is to ensure that we didn't mess with the storage
Also here is a convenient way to explore facet implementation https://louper.dev/

[2022-10-31 09:25] 0xautohub commented on #300
@zgorizzo69 I have selected diamond-3, which uses less gas to call the diamond loupe functions which are expected to be called frequently after implementation
Please update me with your opinion

[2022-10-31 09:36] zgorizzo69 commented on #300
Ideally we will not call loupe onchain but rather directly access the facet storage except if the logic to access the data is complex and so we want to avoid duplicate code

[2022-10-31 11:26] #308 closed, assigned to nobody

[2022-10-31 13:00] cuddle-dev commented on #300
we should redeploy everything.  but UADManager contract is currently responsible for managing contract addresses, not contract instances.  What I was thinking is why we selected diamond pattern to upgrade manager contract.
If I summarize the concept and benefit of EIP2535 diamond proxy, this is sort of a upgradable proxy contract which has different architecture from other proxy contracts like Ope

[2022-10-31 15:54] 0xautohub commented on #300
@0xcodercrane Great comments, And thanks for your comment and research
I'm thinking that the purpose of this issue is to make the contract fully upgradable to be able to build an ecosystem, rather than  to improve `UbiquityAlgorithmicDollarManager` with EIP-2535

According to my research so far, EIP-2535 diamonds enable us to upgrade and extend the already deployed smart contract without redeploym

[2022-10-31 15:58] cuddle-dev commented on #300
No. this is to upgrade `UbiquityAlgorithmicDollarManager.sol` to ERC2535 diamond standard.  Look at the issue title again. Lol
Thanks for attaching EIP-2535 doc link @sunny0714 . Fortunately I went through most docs regarding to EIP-2535 maybe 4 ~ 5 months ago.

[2022-10-31 16:10] 0xautohub commented on #300
@pavlovcik Seems to need your checking now

[2022-10-31 16:21] cuddle-dev commented on #300
Yeah for sure. will wait for his confirmation here. By the way, could we look at any codebase you did with EIP-2535 if you have any?

[2022-10-31 16:21] 0xautohub commented on #300
Cool, sounds great

[2022-10-31 16:23] 0xautohub commented on #300
No, I can't. I don't have any codebase. Coding was not important for me. I focused on research on diamond implementation so far

[2022-10-31 16:26] 0xautohub commented on #300
I felt that from your comment. Awesome. My intention is not to disagree with your opinion, just want to check the direction for development

[2022-10-31 16:27] cuddle-dev commented on #300
Ok. I was asking that question cause architecture design is sort of important for Diamond pattern.  but don't worry about that at all.

[2022-10-31 17:06] 0xautohub commented on #300
@0xcodercrane I misunderstood the architecture you mentioned here as the new architecture of Diamond

I'm feeling you've already tried to design the storage architecture depending on any diamond implementation approach
So I guess that your tries for storage architecture design might help to implement EIP-2535 at a fast pace

[2022-10-31 17:30] zgorizzo69 commented on #300
- Ideally to identify what belongs to each facet we should try to separate what can work with his own storage without relying on other facets storage. In reality that is not that simple and we often relies on a global storage
- An important undervalued advantage of diamond is that all calls are internal and so we will save quite some gas

[2022-10-31 17:58] cuddle-dev commented on #300
Awesome!!!

Btw, can I also get your opinion why we wanted EIP-2535 for `UbiquityAlgorithmicDollarManager.sol` upgrade? This contract just has getters/setters functions for deployed contract addresses. We can definitely do that without upgradable standard. I just want to make things clear.

[2022-10-31 19:02] zgorizzo69 commented on #300
This is convenient when you have a lot of features/ SC graviting around a core cos then you simply add/update facet and you can access all the storage easily. Like we want to add a proxy yield manager as it is not part of the manager already we can link it directly like the bonding manager so we will have to push the manager address in the proxy yield manager one way or another. And tomorrow I am

[2022-10-31 23:18] pwilson77 commented on #170
oh ok my bad I couldn't find it on the page that's why I asked

[2022-11-01 01:12] 0x4007 commented on #300
I'm not sure I'm fully understanding the misinterpretation here, but my expectation is that we create a brand new Diamond Standard compliant manager contract to replace our manager that we are using now in production.

My naive take would be that it's cleaner to start fresh, instead of trying to make the old stuff work.

[2022-11-01 01:13] cuddle-dev commented on #300
I love your brilliant idea.

[2022-11-01 01:20] cuddle-dev commented on #300
hmm, If Diamond is a new brand in terms of marketing, engineers/hunters just need to follow up. sometimes engineers focus on only tech side regardless of marketing side.

[2022-11-01 01:20] 0x4007 commented on #300
You mean redeployment? 😂 yes, thank you. It's big brain time.

[2022-11-01 01:24] cuddle-dev commented on #300
I couldn't guess @zgorizzo69 's idea. I'd love to listen his brilliant idea soon :dancer:

[2022-11-01 02:11] 0x4007 commented on #300
@zgorizzo69 is solidity sensei. Heed his word

![AgADEwMAAtlxBFM](https://user-images.githubusercontent.com/4975670/199143510-b31ddf8b-80bf-4c8b-8bf8-3a13e6b83aa1.gif)

[2022-11-01 02:43] 0x4007 commented on #308
@sergfeldman I understand that you're filling in the gap between now and what the Ubiquity Bounty Bot will eventually handle. The label should have been calculated to be valued at $1000, and the $1000 should have been paid out to Liu with the transaction hash being posted here.

I suppose we don't always need bounty hunters to post their address every time to claim, because we could save it in the

[2022-11-01 09:04] 0x4007 commented on #300
@sunny0714 sent me a DM confirming that he is not making an ERC2535 Diamond Standard manager contract because you guys said its a bad idea.

I understand its a good idea so I think that we should proceed with making an ERC2535 Diamond Standard manager contract.

Thumbs up if you agree. Thumbs down if you do not agree.

[2022-11-01 09:20] 0xautohub commented on #300
Just wanted to check that I should keep implementing Diamond, or not. All comments helped me a lot to confirm the development direction. And hope you guys to continue to update me with your ideas. Thanks @pavlovcik and all

[2022-11-01 09:39] 0x4007 opened #311 "Update CI to Node 16"
[receive-pr-and-deploy](https://github.com/ubiquity/ubiquity-dollar/actions/runs/3366042114/jobs/5582129072)
Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/. Please update the following actions to use Node.js 16: actions/checkout, actions/github-script, actions/checkout

[2022-11-01 09:40] 0x4007 opened #312 "Update to use Environment Files in CI"
[receive-pr-and-deploy](https://github.com/ubiquity/ubiquity-dollar/actions/runs/3366042114/jobs/5582129072#step:3:664)
The `set-output` command is deprecated and will be disabled soon. Please upgrade to using Environment Files. For more information see: https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

[2022-11-01 19:09] sergfeldman commented on #308
@0xcodercrane Please, check :)
https://etherscan.io/tx/0x6bb1cca3670f6e0127688b60fd9825a1bc2c072eb58a6f8e12c420d8235f30e7

[2022-11-02 01:07] cuddle-dev commented on #311
I think we should upgrade to 18.x because 16.x went into maintenance.
https://github.com/nodejs/release#release-schedule

[2022-11-02 01:49] cuddle-dev commented on #308
@sergfeldman  @pavlovcik  received!!! thanks all

[2022-11-03 23:47] 0xautohub commented on #300
Fyi (according to the development so far):
1. We can generate EIP-2535 compliant Manager from already deployed UbiquityAlgorithmicDollarManager. Simply can we add the functions on it to Diamond
2. And if do not want to use any function(ex: setuARTokenAddress), we can exclude that function selector when adding to Diamond, or if included it, can remove it at any time
3.  if want to add more function

[2022-11-04 02:02] 0x4007 commented on #300
That all lines up with my relatively naive understanding of the standard. Sounds good.

[2022-11-07 10:53] ryzhak commented on #96
Hi, I can take this one

A few questions:

1. How about this 404 layout?
<img width="894" alt="Screenshot 2022-11-07 at 13 37 16" src="https://user-images.githubusercontent.com/6339689/200292463-3239808b-2258-4aec-8a67-feec95105737.png">

2. Where is the repo for https://dao.ubq.fi/ ? It seems this website is somehow compiled from notion but I can't find the sources.
[code]

3. https://ubq.fi is a

[2022-11-07 10:58] 0x4007 commented on #96
1. I think its fine but I would recommend you try to not introduce too much custom styling. Try and keep the design implementation super basic because I'll very likely want to go in and personally iterate when I have extra time.
2. This is a bit messy (we might actually have to redo this code) due to some infrastructure problems - it just hasn't been prioritized. Its hosted on my personal GitHub b

[2022-11-07 11:05] ryzhak commented on #96
@pavlovcik

ok, you can assign this issue to me

[2022-11-07 15:07] cuddle-dev commented on #96
yes we can.

[2022-11-07 18:59] cuddle-dev opened #315 "Update TheUbiquityStick nft contract to follow up opensea enforcement"
### Reference
https://twitter.com/opensea/status/1589058770646491136

We need to upgrade UbiquiStick.sol to follow up opensea's enforcement to receive royalty fee.
Implementation should be straightforward. Here is the acceptance criteria

- [ ] Integrate opensea-filter-registry into UbiquiStick.sol
- [ ] Deploy new UbiquiStick on goerli network
- [ ] Setup royalty fee and address & make sure if ro

[2022-11-08 18:37] hashedMae opened #316 "Code Review of Tiny Bond to ensure it meets spec"
[CONTRACTS](https://github.com/0xClandestine/tiny-bonds)

[SPEC](https://docs.google.com/document/d/1_qWL9kVyt6nX696yzGgy3T-zi3aXg9JeQfmFAxjAURY/edit)

Generalized bonds created by Concave for UBQ. Spec doc details what we need the bonds to do. Contracts need to be reviewed to ensure they fulfill spec.

[2022-11-08 18:43] hashedMae commented on #316
This project was built in Foundry and includes testing. I believe a review of the tests should be part of this to ensure nothing was missed.

[2022-11-09 06:22] 0x4007 commented on #209
Workflows can be triggered by apps outside of GitHub
- "Events that occur outside of GitHub and trigger a repository_dispatch event on GitHub"
- https://docs.github.com/en/actions/using-workflows/triggering-a-workflow#about-workflow-triggers

[2022-11-09 06:37] 0x4007 commented on #209
I spent the last couple weeks looking more closely into how GitHub Actions work, and I believe that we can pretty easily make a GitHub App (and host on the GitHub Marketplace) that will be able to run Anvil instances, and expose an RPC endpoint.

This would make for a useful product outside of just our internal development efforts.

[2022-11-09 11:42] 0x4007 commented on #96
Looks like all the 404 pages are functional good work @ryzhak -- can you accept DAI? If so, please share your DAI + UBQ (self hosted) wallet address!

[2022-11-09 11:49] ryzhak commented on #96
@pavlovcik

yes

my wallet: [0x165343c045a00770b61DbCa01956590cC6005666](https://etherscan.io/address/0x165343c045a00770b61DbCa01956590cC6005666)

[2022-11-09 11:50] 0x4007 commented on #96
Thanks for your service! https://etherscan.io/tx/0xcfb279e7d5ed2f570a27676b6639df0dfd5aa7dad8d07e400228b04e2ebc2b1d
https://etherscan.io/tx/0xe0ca7491414481ec15d2de7b26a46c290a071129d8ed679b1de75903920c4e3a

[2022-11-09 11:51] #96 closed

[2022-11-09 21:05] 3commascapital commented on #252
hey all, i am going to start working on this issue if no one has a problem with it.
seems pretty straightforward.
- [ ] install cspell
- [ ] iterate on codebase until all errors are gone
- [ ] add into build process

[2022-11-09 21:35] 3commascapital commented on #252
how ok are we with modifying solidity property names? found some spelling issues there. i have not dug deep enough into solidity files to know how often contracts are redeployed. generally ok? or just ignore

[2022-11-09 22:01] 0xautohub commented on #300
@pavlovcik @0xcodercrane
Please check [this comment](https://github.com/ubiquity/ubiquity-dollar/pull/313#issuecomment-1309432889)

[2022-11-10 15:39] ryzhak commented on #103
Hi, I can take this one but I'm not really sure that this task is still valid because "split" seems to be already implemented here: https://github.com/ubiquity/ubiquity-dollar/blob/development/packages/contracts/src/dollar/ProxyYieldAggregator.sol#L239

So questions:
1. Is this task valid? Or am I just misunderstood the task concerning the "split" feature?
2. What is the actual ethereum address of

[2022-11-10 19:44] hashedMae commented on #316
I can have this finished by end of next week for 1250 USDC

[2022-11-11 06:42] 3commascapital opened #319 "Optimize pre-commit hook"
In order to keep development workflow clean and without delays, commits should be fairly thin in terms of checks. Devs should be capable of rebasing their own branch locally if they need to fix anything before pushing, which can reject after many larger checks of the codebase such as spell check and lints. It may also be worthwhile to consider dropping prettier altogether, given that it is basical

[2022-11-11 06:47] 3commascapital commented on #19
i can take a look at this next

[2022-11-11 06:49] 3commascapital opened #320 "Add a bot to post updates to topic in telegram"
there should be a topic or channel that can receive updates whenever an issue is created or a pull request is created or updated to allow devs to only have to go to one place to get all the updates they need

[2022-11-11 06:51] 3commascapital opened #321 "Hoist bounty assignee"
In order to make the bounty assignee easier to find, it may be worth exploring special characters to prepend to the name in an effort to hoist the assignee to the top of the list
![Screen Shot 2022-11-11 at 00 50 50](https://user-images.githubusercontent.com/90629478/201280711-a36d0c7f-ddd0-4bd6-8b39-1d2ed043dea5.png)
![Screen Shot 2022-11-11 at 00 50 56](https://user-images.githubusercontent.com/

[2022-11-11 23:58] hashedMae commented on #276
[investigation sims](https://github.com/hashedMae/v2Investigate)
Math all checks out and I've verified that the snapshot data used for the migration is correct. I can't find any issues with deposit users receiving more rewards than migration users.

[2022-11-12 18:15] 0x4007 commented on #206
https://github.com/transmissions11/foundry-template please take a look at this repo to see if there's any other things we should include related to this now being a Foundry project @0xcodercrane

I already saw a couple of useful bits like how they only do "intense fuzz testing" on pushes to main.

Also in the vscode settings he set the Solidity formatter to Foundry's which seems smart.

[2022-11-13 05:45] 0x4007 opened #322 "Enable Etherscan Support for Diamond"
Depends on #300 to be completed.

We should add etherscan support for the [Diamond contract](https://github.com/ubiquity/ubiquity-dollar/blob/development/packages/contracts/src/dollar/Diamond.sol) using https://github.com/zdenham/diamond-etherscan

Corresponding [docs](https://github.com/zdenham/diamond-etherscan#how-to-support-etherscan-in-your-diamond)

What should be done:
1. Add a shell script

[2022-11-14 02:29] 0x4007 commented on #276
Perhaps its just a math quirk but its unfortunate that we can't explain the unexpected behavior. What do you think are the best next steps?

[2022-11-14 02:39] 0x4007 commented on #321
I appreciate the suggestion but typing "ub" is an acceptable tradeoff for me vs having a strange name on GitHub. If others on the team support this, please comment below and we can discuss. Otherwise, it has never been brought up in Bounty System related meetings.

https://user-images.githubusercontent.com/4975670/201563703-b9a9c4b5-0b05-42b1-a7fd-107158e3ebdb.mov

[2022-11-14 02:39] #321 closed, assigned to nobody

[2022-11-14 02:44] 0x4007 commented on #319
- I haven't done research on the matter regarding the capability differences of `prettier` vs `eslint` but from what I understand, they handle different types of issues.
- I think on pre-push vs on commit makes a ton of sense for this.
- I'm pretty sure we already use yarn workspaces.
- I can't speak on this @0xcodercrane might have some inputs.
- I'm pretty sure best-practices for Foundry is to u

[2022-11-14 02:47] 0x4007 commented on #316
If you ever wanna chat about the specification regarding clarifications well, I know it like the back of my hand. Feel free to drop me some direct messages or hop on a call with me anytime.

[2022-11-14 02:48] 0x4007 commented on #19
That would be lovely! I think its up your alley as it requires a lot of digging through React code.

[2022-11-14 03:28] 0x4007 commented on #103
@ryzhak I want to send a 50 DAI + 50 UBQ bounty for you identifying that this bounty is no longer valid. It looks like it has been already handled with the "split" parameter as you highlighted and that this particular issue was forgotten about.

If you could post again your wallet address here that would be appreciated!

We didn't deploy the PYA that you linked. We only have an alpha version deplo

[2022-11-14 03:32] 0x4007 commented on #320
Suggestions to improve the Bounty Program can be recorded in the below discussion. I prefer not to use "issues" for these.

I also recently suggested something similar:

https://github.com/ubiquity/ubiquity-dollar/discussions/184#discussioncomment-3831628

[2022-11-14 03:32] #320 closed, assigned to nobody

[2022-11-14 09:06] ryzhak commented on #103
@pavlovcik

ok, got it, thank you

wallet: https://etherscan.io/address/0x165343c045a00770b61DbCa01956590cC6005666

[2022-11-14 09:10] 0x4007 commented on #103
https://etherscan.io/tx/0xb5e97b658e2af9a546664a5be81e78347dda58cb70f7a9dfd015bb1f2d5e4d75
https://etherscan.io/tx/0x1462f1bcc69768e54507ec9b2800d894433c6a114d89a7f7780488b70dbfc84d

[2022-11-14 09:10] #103 closed

[2022-11-14 10:20] 0x4007 opened #323 "Tether Balance Not Rendering Correctly in Inventory"
For once I have a Tether balance and noticed that its rendering as `0 USDT` in the Inventory even though I have exactly `1000 USDT`

<img width="914" alt="image" src="https://user-images.githubusercontent.com/4975670/201635483-30a7e254-99be-45e2-b581-a9bbf9b83fb1.png">

<img width="619" alt="image" src="https://user-images.githubusercontent.com/4975670/201635642-59e77397-d207-4003-a229-c66c8bd274c

[2022-11-14 14:33] ryzhak commented on #323
pls check https://github.com/ubiquity/ubiquity-dollar/pull/324

[2022-11-14 17:34] 0x4007 commented on #323
@ryzhak You need to request to take a bounty before you authorized to solve it. You're taking on an unnecessary risk if somebody else is assigned the bounty while you're working on it because then you will not be credited for your work.

Fortunately nobody else tried solving it at the same time!

It looks like your solution is valid so please confirm your wallet address and you will receive full p

[2022-11-14 21:22] ryzhak commented on #323
@pavlovcik

ok, got it

wallet: https://etherscan.io/address/0x165343c045a00770b61DbCa01956590cC6005666

[2022-11-14 22:09] hashedMae commented on #276
I can't even confirm that there is an issue. May need to look at possible scenarios that could cause things to get out of whack. Maybe if the multipliers or tokens minted per block were changed.

[2022-11-14 22:10] hashedMae commented on #276
ERC20 Address 0x7fe65D99a0998Cdba8e1f749303a467dcf87e815

[2022-11-14 23:36] 0xautohub commented on #322
This is really useful. Awesome 👍

[2022-11-15 01:27] cuddle-dev commented on #319
1/ prettier is used to format codebase defined as prettier config file but eslint is used for checking code style. We need to keep both
2/ I don't have much context about the advantages of pre-push. but I think both are same at the point they run before pushing. lol.
3/ we are already using yarn workspaces. Do you have another meaning for `workspaces` @3commascapital ?
4/ eslintrc will not need to

[2022-11-15 02:38] cuddle-dev commented on #287
Its getting resolved in the following 2 commits.

https://github.com/ubiquity/ubiquity-dollar/commit/0f0e37b007cd6aa7f0a158bb29b6317870468a89
https://github.com/ubiquity/ubiquity-dollar/commit/02693ba790aaafe03000825f0f6c48c76fd43d34

[2022-11-15 02:38] #287 closed

[2022-11-15 12:34] #323 closed, assigned to ubiquity-bounties

[2022-11-15 14:58] 0x4007 commented on #276
I don't recall changing these...However there is a slim possibility we did in a panic when we first discovered the bug right before coding up a fix and deploying/migrating. I guess if you dig through the last transactions on the old bonding contracts you'll be able to find that if that happened.

I hope that DAI is alright! We might end up sticking with it for the foreseeable future because gas fe

[2022-11-15 15:49] 0x4007 commented on #319
Pre-commit runs every time the developer commits. This may happen several times before they push (however if they commit using vscode then it will be commit+pull+push all in one, every time)

Pre-push is particularly useful for developers who commit using their command line. They can commit several times and then when they push it should format one time.

Continuing on this line of thinking, is it

[2022-11-15 16:17] ryzhak commented on #323
@pavlovcik

sorry to bother, still waiting for this one

[2022-11-15 16:20] 0x4007 commented on #323
Thanks for the reminder! Sorry for the delay.

https://etherscan.io/tx/0x3d470dc278634982bb2e79db30ff527e20acda3c8a1e1a66e27c094f024c7856
https://etherscan.io/tx/0x0f1a1e5e68b880f7cbe7b1bfcb7833acd1444b3958d14c6e8f6e3f4ca747d648

[2022-11-15 18:21] hashedMae commented on #276
DAI is fine by me, thank you.

[2022-11-16 01:59] 0x4007 opened #326 "Scrollbars on Inventory on Windows OS"
Sent from a friend

![image](https://user-images.githubusercontent.com/4975670/202064918-2bdb9d40-040c-4e2a-a99e-72a7412d5b5b.png)

[2022-11-16 03:33] cuddle-dev commented on #284
@hashedMae. would you have a mind to continue this issue? I also made some progress (I might say lots of progress) but yeah I need to switch to setup infra which looks most blocker. you can continue on this issue for the @pavlovcik 's latest budget if you want.

tldr: 34 results still remaining

[2022-11-16 09:53] ryzhak commented on #326
@pavlovcik

I can take this one

[2022-11-16 18:00] 3commascapital commented on #19
i am not able to trigger the alert (perhaps it was taken out of the codebase) but i was able to trigger the condition of being unable to connect while in opera desktop. on mobile the page simply crashes. i will look into this next

[2022-11-16 18:17] hashedMae commented on #284
I can wrap up the tiny bonds report today and then get started on this

[2022-11-17 07:03] 0x4007 commented on #284
@0xcodercrane I think we should technically wait until @hashedMae is ready to assign. It'll help make this a standard process for when the bounty bot starts working with us (keeps track of time for a bounty.)

[2022-11-17 07:06] 0x4007 commented on #19
Just to clarify (and I just renamed the issue to emphasize this) the main task is to enable WalletConnect v2 support. v1 and v2 [are incompatible](https://twitter.com/walletconnect/status/1402611222873313283?lang=en) so its prudent of us to future proof our UI during its active development phase.

If you could leave "injected provider" aka MetaMask in that would be ideal as well.

[2022-11-18 01:44] #252 closed

[2022-11-18 02:20] 0x4007 commented on #252
Can you post your DAI wallet address here? @3commascapital

[2022-11-18 02:21] 0x4007 commented on #252
Sorry for missing this comment. That explains your hesitation for editing the solidity files!

[2022-11-18 02:22] 3commascapital commented on #252
No worries!

[2022-11-18 02:23] Draeieg commented on #326
no more nasty bars and scroll still works
![image](https://user-images.githubusercontent.com/88983138/202601905-775a2283-0045-48e0-91f5-d24df89ebe23.png)

[2022-11-18 04:01] 0x4007 commented on #326
I asked @Draeieg in the direct messages to help me verify this. It looks like it works but I would love the opportunity to more thoroughly test.

@ryzhak looks like it works. Please post your DAI address again here? We will automate this payment process in the future but still need more time to set it all up. Thank you!

[2022-11-18 04:12] 3commascapital commented on #252
@pavlovcik 0x7153Ad46a37573a2EB9EAa6A8644c3f03dfcE6b8

[2022-11-18 04:12] 0x4007 commented on #252
https://etherscan.io/tx/0x555f1bc3ab7aa43eca25adb3ec731d2470a431f06ffd0dad627e6992d68eff50
https://etherscan.io/tx/0x2118856e220a216c80e2a7caed0210fbf352d23d61b4b8fe91ca70faf3de360e

[2022-11-18 07:28] ryzhak commented on #326
@pavlovcik

good

wallet: https://etherscan.io/address/0x165343c045a00770b61DbCa01956590cC6005666

[2022-11-18 09:57] 0x4007 commented on #326
https://etherscan.io/tx/0x3bce500713491ce7402ad98ca68e301163957f27ea6abd4be9c1dd42e1c2fd54
https://etherscan.io/tx/0xbeb522cfcb3124816d1f32e009dabcdbf5a75ebd50f2eea5d2919f2bc3f3f6ed

[2022-11-18 09:57] #326 closed, assigned to ryzhak

[2022-11-18 13:08] 0x4007 commented on #252
I was looking to merge `development` into `main` and see that we still have instances of "UbiquityStick" littered all over the code. Currently looking at `packages/dapp/components/bonds/lib/hooks/useLaunchPartyContracts.ts`

I'll update cspell myself eventually to ban this, as well as some other small details.

[2022-11-18 13:20] 0x4007 opened #332 "cspell Config Refinement"
- [ ] Enforce code to use generic token names e.g. uAD -> Dollar; uCR -> Credits; UBQ -> Governance.
- [x] Ban "UbiquityStick"
- [ ] Other small branding related changes

_Originally posted by @pavlovcik in https://github.com/ubiquity/ubiquity-dollar/issues/252#issuecomment-1319973011_

[2022-11-18 19:41] 3commascapital commented on #252
started above in #334

[2022-11-18 21:51] Draeieg opened #335 "Upgrade TWAP to poll data based on a controller"
The twap price we will target is an aggregation of various data sources grouped depending on their gas cost and origin, current groups are

ChainLink price feeds
Uma optimistic oracles
Median aggregation of dexes
Web3 api

These data sources will be called based on market conditions. When there is not a lot of volume amount of transactions is minimum and volatility is low only the cheapest price f

[2022-11-19 08:58] 0x4007 commented on #276
Just a small detail I want to share but you can see my two positions (one is 27% compared to the larger one) and the smaller one is actually farming faster than my larger one.

The only other variable I can think of is when we manipulated the liquidity in the market (forced price resets by removing liquidity) for when the farmer enters?

<img width="2560" alt="image" src="https://user-images.githu

[2022-11-19 09:03] 0x4007 commented on #332
I actually wanted to handle this myself because theres a lot of small details in the code related to product naming/branding I want to change!

[2022-11-20 13:25] ryzhak commented on #292
I can take this one

So basically the following should be done:
1. Contract renaming
2. Variables and comments renaming

A few questions:
1. Should I also update this wiki page after the renaming: https://github.com/ubiquity/ubiquity-dollar/wiki/18.-Smart-Contracts ?
2. Could you provide a list of contracts which are considered "core"? I will move them to the `core` directory.

There should also b

[2022-11-21 15:15] cuddle-dev commented on #312
This is not completed yet!!!

[2022-11-22 13:43] #243 closed

[2022-11-22 16:06] 0x4007 commented on #243
@kfujita0520 looks like we forgot to label the price this bounty. According to the [pricing table](https://github.com/ubiquity/ubiquity-dollar/wiki/Bounty-Compensation) this should be $500.

What is your DAI wallet address? Also I just realized that another bounty hunter finished the tests. We need to decide internally on how to best handle this compensation.

[2022-11-22 16:16] 0x4007 commented on #312
Looks tumultuous with all the issue opens and closes hope that you have this under control. 👀

[2022-11-22 17:00] cuddle-dev commented on #312
I will do my best to have this under control. For this bounty, we need to keep our eyes on this issue not the pull request. Because we can test his pull request after merging. I will let you know once it gets completed

[2022-11-22 17:53] 0x4007 commented on #243
@ryzhak I want to give you a one-off bonus for your speedy coding this last week and willingness to jump in and help @kfujita0520. Could you also share your DAI wallet address here?

[2022-11-22 18:08] 0x4007 commented on #292
Sorry for the slow response I've been feeling unwell the last couple days.

Technically this is out of scope of the bounty but yes this would be much appreciated if you wish to.

I'll add this to my todo list cause right now I'm prioritizing responding to all the blockers. To give you a high level answer, the Dollar, the Credits and the Governance token systems are considered "core" Ubiquity Dolla

[2022-11-22 18:15] sergfeldman commented on #295
This issue is quite significant.
Better to split it into 2 or more issues.

[2022-11-22 19:57] ryzhak commented on #243
@pavlovcik

wallet: https://etherscan.io/address/0x165343c045a00770b61DbCa01956590cC6005666

[2022-11-23 12:03] #335 closed, assigned to ubiquity-bounties

[2022-11-23 17:41] 0x4007 commented on #243
https://etherscan.io/tx/0xacf0a9d66ffe4578f454a0292ce62577f042930ae1a0a4a3d12db0fb5ca6d28b
https://etherscan.io/tx/0x345eb02b08b695951c92face909925da68b8a5ad29ffe116c851e4c1c5369b20

[2022-11-23 17:43] 0x4007 commented on #292
@ryzhak you can request a review from @0xcodercrane and I on your PR when its ready!

[2022-11-23 18:23] 0x4007 commented on #167
I think this bounty should be remade to build a UI for ubiquity/ubiquity-dollar#301

new bounty is here

https://github.com/ubiquity/uusd.ubq.fi/issues/5

[2022-11-23 18:23] #167 closed

[2022-11-23 18:26] pavlovcik opened #341 "Update UBQ Farming UI"
We changed the flow from manual steps (add liquidity in curve, then lockup LP token in our staking contract) to now “ape in” which handles both in a single transaction.

The new UI should be built on top of the related smart contact code changes. The context is available in the below issue.

https://github.com/ubiquity/ubiquity-dollar/issues/243

[2022-11-24 03:03] 0x4007 commented on #316
Hey @hashedMae I'm following up on this

[2022-11-24 10:42] 0x4007 commented on #312
This one has been quite complicated to follow with the references to multiple issues/PRs. For future reference @0xcodercrane I've been trying to keep the payment proofs on the actual issues/bounties instead of the [PRs](https://github.com/ubiquity/ubiquity-dollar/pull/337#issuecomment-1324041256).

I presume that this is all finished according to the spec.

@kfukue what is your Ethereum wallet add

[2022-11-24 11:26] 0x4007 commented on #319
We're still waiting on input for this. Once that is clarified we can release this bounty into the devpool!

[2022-11-24 11:38] #312 closed, assigned to ubiquity-bounties

[2022-11-24 12:16] 0x4007 commented on #312
Another idea is to have a separate fork of Ubiquity Dollar on @0xcodercrane personal GitHub where you could have CI disabled except for the CI that is being scrutinized/tested in order to save time on reviewing (instead of trying to merge into development, revert, repeat etc)

[2022-11-24 19:35] kfukue commented on #312
@pavlovcik  @0xcodercrane Thanks, yea sorry I wasn't too familiar with github's CI/CDs but I'll use the forked version going forward.
@pavlovcik My eth address is 0xB33aC2640b814145F76c1ba3B5D6aAB2216098aD. I'll look into more tasks going forward!

[2022-11-24 21:03] 0x4007 commented on #312
https://etherscan.io/tx/0xb7b64a41e7085d7b05b60b4dabe2fafc997d69977a57f66038c29d47867a4836
https://etherscan.io/tx/0x0b01b9d9f3c3a510fb786f0b1efa3936561d1b55b4b695a51392bfc780b9d426

[2022-11-24 21:53] kfukue commented on #312
@pavlovcik Thanks!

[2022-11-25 15:09] ryzhak commented on #116
Seems that this task should be deleted as PYA is going to be removed in https://github.com/ubiquity/ubiquity-dollar/issues/292

[2022-11-25 15:11] 0x4007 commented on #116
This just needs to be re-specified but the idea will still exist. The idea is that our uCR (Credit) tokens need to have a sense of a global clock to represent its inflation. For example:

We need to create a standard getter method for UIs and smart contracts to easily understand this conversation rate, live.

--

I need to verify if there is a more accurate bounty somewhere or if I should slightly

[2022-11-25 15:33] ryzhak commented on #116
Looks like this task already exists https://github.com/ubiquity/ubiquity-dollar/issues/115

[2022-11-25 15:38] 0x4007 commented on #116
Thanks for checking for me. So basically this just needs to be integrated with our ecosystem of products, including the new version of the pya (vaults) https://github.com/ubiquity/ubiquity-dollar/pull/267

[2022-11-25 17:25] cuddle-dev commented on #256
I think its done

[2022-11-25 17:25] #256 closed

[2022-11-25 18:54] hashedMae commented on #316
@pavlovcik

sorry, thought I'd posted the doc a few days ago
https://docs.google.com/document/d/1dpHHhJLQGlZCWOaHiDxnwGaTdl6OE192h4gDy--2lgQ/edit?usp=sharing

[2022-11-25 18:55] 0x4007 commented on #316
Thank you! So is the verdict that everything checks out to accommodate our spec?

[2022-11-25 18:56] hashedMae commented on #316
It'll work but I don't think it's the best fit

[2022-11-25 19:45] 0x4007 commented on #316
Thanks a ton for the research. You think perhaps it makes more sense to archive on Discussions and then link from here?

Just in case if you unshare or delete the google doc?

Also if you can post your DAI address I will send. I'll take a deeper look at your report later and might drop some comments for some questions in the doc.

[2022-11-25 20:40] 0x4007 commented on #256
Build failed on the referenced PR so what's the deal here? https://github.com/ubiquity/ubiquity-dollar/pull/272/checks
Please confirm the status of what security checks work (I understand that we disabled the paid ones) but we should still be testing to see if they work by spending some money on credits, before accepting this PR and paying the bounty.

Also if possible, please link the PR that is

[2022-11-25 20:45] 0x4007 opened #342 "Setup `yarn audit`"
@0xcodercrane would you mind helping me research and determine if CodeQL and `yarn audit` make sense to add to our security CI before we create this bounty?

_Originally posted by @pavlovcik in https://github.com/ubiquity/ubiquity-dollar/discussions/197#discussioncomment-3641178_

[2022-11-25 20:48] 0x4007 opened #343 "DNS Hijacking UI Protection"
Perhaps a more practical solution would be to compare the UI with this repo's latest `production` commit.

There might be a means to hash the entire UI codebase and match the hash with some request on the frontend. This probably requires just a little bit more research before creating this bounty, but I think this is a relatively simple to implement layer of protection because this repository is o

[2022-11-25 21:41] 0x4007 opened #344 "Enforce Conventional Commits"
The following is commented away in our README but we never implemented this feature. It is a great way to standardize commit messages as well as to produce a great standardized input for automation tools, which for example, can automatically produce change logs for every deployment.

[2022-11-25 22:00] 0x4007 commented on #316
Hey @hashedMae can you elaborate on

I want to share the issues with their team for why it is not the best fit.

[2022-11-25 22:06] hashedMae commented on #316
We're wanting to buy LP tokens but these are made more so to buy stable coins. So it can work for our use case but it wasn't designed for it.

[2022-11-25 22:08] hashedMae commented on #316
0x7fe65D99a0998Cdba8e1f749303a467dcf87e815

[2022-11-25 22:10] hashedMae commented on #316
done https://github.com/ubiquity/ubiquity-dollar/discussions/345

[2022-11-25 22:10] 0x4007 commented on #316
https://etherscan.io/tx/0x7671e749c475bb476515bbac8aecdc60b5356ec9db7cdab44509b34f58c4540a

[2022-11-25 22:10] #316 closed, assigned to hashedMae

[2022-11-25 23:42] ryzhak commented on #292
just to clarify, should I also update method signatures and variable names?

Examples:
1. https://github.com/ubiquity/ubiquity-dollar/blob/development/packages/contracts/src/dollar/BondingV2.sol#L169: `uADPriceReset => dollarPriceReset`
2. https://github.com/ubiquity/ubiquity-dollar/blob/development/packages/contracts/src/dollar/UARForDollarsCalculator.sol#L44: `getUARAmount => getCreditAmount`

[2022-11-25 23:43] 0x4007 commented on #292
Yes

[2022-11-26 09:12] 0x4007 opened #346 "Claim Rewards Failure (When Have Multiple Stakes)"
<img width="477" alt="image" src="https://user-images.githubusercontent.com/4975670/204081153-e793454c-0139-4ba3-8119-643345a384e9.png">

I have two different staking positions and I have always tried to claim both at the same time but noticed some issues.

1. I can always claim the first one (either one of the two) and while the transaction is pending, the UI ignores my request to claim the secon

[2022-11-26 09:37] cuddle-dev commented on #342
Let me help you with that

[2022-11-28 21:30] zgorizzo69 opened #347 "Sell Pressure Dampening via Transfer Hook - Proof of Concept"
Let's say that a whale is selling huge amount of uAD on the curve metapool. This can very affect the peg and trigger an unwanted chain of events leading to a bank run.
The idea is to use the transfer hook to detect and counter that sell with a one sided liquidity provision
so the flow is
use sells uAD from uAD-3crv metapool
that triggers a hook that will transfer an ERC20 (e.g) to the metapool as

[2022-11-28 21:31] 0x4007 commented on #347
Reference https://github.com/ubiquity/ubiquity-dollar/discussions/218

[2022-11-28 21:32] 0x4007 commented on #347
POC should be as simple as possible but ideally if you can do it off of post-swap-price e.g. (0.98 and below)

[2022-11-29 15:03] 0x4007 commented on #276
@hashedMae I have a hypothesis can you validate this?

See the section titled "Example Multipliers" on the [uAD Token overview](https://dao.ubq.fi/uad-token#70341e59a62840f48fd19e5d7e09068f).

- The minimum lockup time is 1 week.
- The maximum is 208 weeks.

- The multiplier for 1 week lockup is 1x.
- The multiplier for 208 week lockup is 4x.

I believe that my 100k deposit is credited at 1x, whil

[2022-11-29 15:06] 0x4007 commented on #276
The math for my hypothesis checks out almost exactly so I'm pretty confident that this is it.

<img width="787" alt="image" src="https://user-images.githubusercontent.com/4975670/204565260-95553af6-4ada-4e08-9032-63251091ea0c.png">

[2022-11-29 17:58] mul1sh commented on #315
Hi, i'm an experienced bounty hunter from [gitcoin](https://gitcoin.co/mul1sh) where I've been working on bounties for OS projects for more than 3 years now.

I'd like to take this issue.

**Approach**

1. Install the `opensea-filter-registry` project using [foundry](https://github.com/ProjectOpenSea/operator-filter-registry#getting-started-with-foundry)
2. Update the `UbiquiStick` nft contract to

[2022-11-29 18:06] 0x4007 commented on #315
@0xcodercrane @sergfeldman I see that technically this wasn't assigned to @ubiquity-bounties but I'm interested to have @mul1sh participate. Is this bounty ready? Can you finish the spec @0xcodercrane ?

[2022-11-29 18:16] cuddle-dev commented on #315
Yes, this is sort of straight forward. its just to integrate `opensea-filter-registry` into [UbiquiStick](https://github.com/ubiquity/ubiquity-dollar/blob/development/packages/contracts/src/ubiquistick/UbiquiStick.sol).

[2022-11-29 18:17] mul1sh commented on #315
On it, thanks 🙂

[2022-11-29 18:20] 0x4007 commented on #276
@zgorizzo69 would love to hear your input if any on my hypothesis!

[2022-11-30 11:03] mul1sh commented on #315
My addy is 0x2d18BA0fcF0052E26Fc7b378dFBaF62D319E5D89

Thanks 🙂

[2022-11-30 12:08] rndquu commented on #344
hey, you can assign this task to me

as far as I understand every commit message should be checked if it is written in "conventional commit style"

[2022-11-30 16:47] 0x4007 commented on #344
This bounty is for enforcing it with a precommit hook. As long as you can make it work with a hook you're authorized. Let me know.

[2022-11-30 17:38] greg-schrammel commented on #19
hey, it is recommended to wait for more wallets to support WalletConnect v2 before using it in dapps, after wallets have been integrated, the dapp migration should as easy as upgrating a package.

this is kind of a solved issue in the ecosystem with packages like [wagmi](https://wagmi.sh), I can integrate it if you wish, replacing your proprietary solution

I'd also recommend using [react-query](h